@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Helvetica_Neue/HelveticaThin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Helvetica_Neue/HelveticaLight.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Helvetica_Neue/HelveticaRegular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Helvetica_Neue/HelveticaMedium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Helvetica_Neue/HelveticaBold.ttf');
  font-weight: 600;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search {
  min-height: 800px;
  width: 90%;
  margin: 80px auto;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */

.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */

.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.priceWrap {
  width: 80%;
  margin: 50px auto 100px;
}

.priceObj {
  width: 100%;
  height: 800px;
}

.price-download {
  display: block;
  font-size: 16px;
  color: #444444;
  margin: 0 10% 50px;
}

.price-download:hover {
  color: #444444;
  text-decoration: none;
}

.searchForm {
  width: 350px;
  position: relative;
  height: 42px;
  margin-bottom: 20px;
  background: rgba(182, 198, 199, 0.15);
}
.searchInput {
  height: 100%;
  width: 100%;
  padding: 0 30px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #707070;
}

.searchData p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #848D8E;
  display: inline-block;
}

.searchData .searchName {
  margin-left: 5px;
  color: #40919A;
  font-style: italic;
}

.searchBtn {
  position: absolute;
  background: url('../images/search2.png') no-repeat;
  background-position: center;
  font-size: 0;
  width: 20px;
  height: 100%;
  border: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.searchItem {
  display: block;
  font-size: 16px;
  color: #40919A;
  font-weight: 300;
  line-height: 2;
}

.searchItem:hover {
  text-decoration: none;
  color: #40919A;
}

.gallery .row .col-sm-8 img,
.gallery .row .col-sm-4 img {
  width: 100%;
}

.gallery .row .col-sm-8 img {
  min-height: 547px;
}

.gallery .row .col-sm-4 img {
  max-height: 233.5px;
  min-height: 233.5px;
}

.checkup .MsoNormalTable {
  margin-left: 0 !important;
}

.checkup .MsoNormalTable td {
  padding-left: 0 !important;
}

.checkup .MsoNormalTable tr {
  margin-bottom: 10px;
}

.checkup .MsoNormal {
  text-align: left !important;
  line-height: 1.5 !important;
}

.checkup .MsoNormal span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  font-weight: 300;
}

.checkup .MsoNormal b span {
  font-weight: 600;
}

.main-directions {
  margin-bottom: 100px;
  display: none;
}

.company {
  background: url(../images/about-doc.jpg) no-repeat;
  background-size: 34%;
  height: auto;
  background-position: 17% 55%;
  position: relative;
  margin-bottom: 20px;
}

.company-name {
  position: absolute;
  bottom: 70px;
  left: 11.5%;
}

.company::after {
  content: '';
  display: block;
  clear: both;
}

.company-info {
  width: 535.88px;
  float: right;
  position: relative;
  margin-right: 146.41px;
}

.company-info h1 {
  font-size: 38px;
  margin-top: 137.44px;
  color: #40919A;
  text-align: center;
  font-family: 'Cursive';
}

.company-info p {
  font-size: 16px;
  color: #757575 !important;
  font-weight: 300;
  margin-top: 32.1px;
  margin-bottom: 66px;
}

.company-name p {
  font-size: 18px;
  color: #757575 !important;
  font-weight: 300;
  margin: 0;
}

.company-name h3 {
  font-size: 21px;
  color: #5f5c5c !important;
  font-weight: 300;
  margin: 0;
}

.company-info ul li {
  display: inline;
}

.company-info h4 {
  font-size: 18px;
  color: #454545;
  font-weight: 400;
}

.company-info ul {
  margin-top: 38px;
  padding-left: 0;
  color: #757575;
  font-weight: 300;
}

.new-history {
	display: none;
  width: 75%;
  margin: auto;
}

.new-history h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  color: #40919A;
  font-family: 'Cursive';
}

.new-history p {
  font-size: 20px;
  font-weight: 300;
  color: #757575;
  margin: 0;
}

.mission {
  background-color: #fff;
  height: 373.19px;
}

.mission h3 {
  text-align: center;
  padding-top: 112.2px;
  font-size: 45px;
  font-weight: 400;
  color: #40919A;
  font-family: 'Cursive';
}

.mission p {
  text-align: center;
  padding: 32.02px 290.28px 0 301.25px;
  font-size: 20px;
  font-weight: 300;
  color: #757575;
}

.main-directions .row {
  margin-top: 82px;
}

.main-directions h3 {
  text-align: center;
  margin-top: 120px;
}

.main-directions .col-sm-4 {
  background-color: #FAFAFA;
  padding: 72px 138px 0 132px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.333333%;
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
  height: 295px;
  border-radius: 10px;
}

.main-directions .col-sm-4 p {
  margin-top: 43.93px;
  text-align: center;
}

.main-directions .col-sm-4:not(:last-of-type) {
  margin-right: 26px;
}

.history {
  position: relative;
  display: none;
}

.history::after {
  content: "";
  display: block;
  clear: both;
}

.history .container {
  padding: 0;
}

.history h3 {
  text-align: center;
  margin-top: 136px;
}

.history-line {
  position: absolute;
  left: 50%;
  top: 195px;
}

.history-line::after {
  content: "";
  display: block;
  /*position: absolute;*/
  background: url('../images/infinity.png') no-repeat;
  margin-top: 10px;
  width: 26px;
  height: 14px;
  margin-left: -10px;
}

.his {
  width: 475px;
  border-radius: 10px;
  background-color: #F7F7F7;
  position: relative;
  margin-bottom: 52px;
}

.bubble:first-of-type {
  margin-top: 104.17px;
}

.bubble:nth-of-type(2) {
  margin-top: 242.17px;
}

.bubble::after {
  content: ' \25CF';
  font-size: 25px;
  color: #6EDAB8;
  display: inline-block;
  position: absolute;
}

.left-bub {
  float: left;
}

.left-bub::after {
  left: 568.5px;
  top: 35px;
}

.right-bub {
  float: right;
}

.right-bub::after {
  right: 555.5px;
  top: 35px;
}

.bubble {
  position: relative;
}

.his::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: #F7F7F7;
  border-top: 0;
  margin-left: 0;
}

.his-left::after {
  transform: rotate(90deg);
  left: 460px;
  top: 40px;
}

.his-right::after {
  transform: rotate(-90deg);
  right: 460px;
  top: 40px;
}

.his h5 {
  color: #454545;
  font-size: 18px;
  padding: 63px 0 0 62px;
}

.small {
  padding: 24px 159px 60px 62px;
  color: #757575;
  font-weight: 300;
  font-size: 16px;
}

.big {
  padding: 24px 58px 60px 62px;
  color: #757575;
  font-weight: 300;
  font-size: 16px;
}

.his img {
  padding: 0 0 57px 62px;
}

.about-otzyvy {
  border-top: 1px solid #F2F2F2;
  margin-top: 75px;
}

.about-otzyvy .col-sm-8 h2 {
  margin-top: 111px;
  color: #454545;
  font-size: 28px;
}

.about-otzyvy .col-sm-8 a {
  text-decoration: underline;
}

.client:first-of-type {
  margin-top: 65px;
}

.client {
  margin-top: 82px;
}

.about-otzyvy .col-sm-4 h2 {
  margin-top: 111px;
  color: #454545;
  font-size: 28px;
}

.about-otzyvy .col-sm-4,
.about-otzyvy .col-sm-8 {
  margin-bottom: 122px;
}

.about-otzyvy .col-sm-4 a {
  text-decoration: underline;
}

.about-news {
  position: relative;
}

.about-news:first-of-type {
  margin-top: 65px;
}

.about-news p:first-of-type {
  position: relative;
  margin-top: 28px;
  margin-bottom: 20px;
}

.about-news p:first-of-type a {
  color: #AEAEAE;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.about-news p:nth-of-type(2) {
  padding-right: 61px;
  margin-bottom: 41.05px;
}

.about-news p:nth-of-type(2) a {
  color: #4A4A4A;
  font-size: 16px;
  text-decoration: none;
}

.about-news:last-of-type p:nth-of-type(2) {
  margin-bottom: 81px;
}

.speech-bubble {
  width: 640px;
  margin-bottom: 86.48px;
}

.speech-bubble:last-of-type {
  margin-bottom: 51.03px;
}

.contain {
  margin-top: 20px;
}

/*gallery*/

.gallery {
  border-top: 1px solid #E5E5E5;
  margin-bottom: 200px;
}

.gallery h1 {
  padding: 130.15px 0 90px 0;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.gallery p {
  padding: 17.69px 0 48px 0;
}

.gallery .row:first-of-type .col-sm-4 p:first-of-type {
  padding: 17.69px 0 20px 0;
}

.gallery .close {
  overflow: hidden;
  height: 0;
}

.gallery iframe {
  width: 100%;
  min-height: 305px;
}

.both::after {
  content: "";
  display: block;
  clear: both;
}

/*education*/

.main-education {
  height: 530px;
  background: url('../images/36419402_l.png') no-repeat;
  background-size: cover;
}

.education h1 {
  padding: 100.41px 0 0 0;
  font-size: 36px;
  color: #454545;
  font-weight: 500;
}

.education p {
  padding: 98px 43px 120px 0;
  color: #757575;
  font-size: 18px;
  font-weight: 200;
}

.education .row:first-of-type p {
  padding: 100.41px 43px 120px 95px;
}

/*equipment*/

.equip {
  height: 527px;
  background: url('../images/eq.png') no-repeat;
  background-size: cover;
}

.equipment h1 {
  padding: 115.45px 0 220.99px 0px;
  font-size: 36px;
}

.equipment p {
  padding: 123.45px 0 0 0px;
  font-size: 18px;
  font-weight: 200;
}

.hidden-eq {
  display: none;
  height: 0;
  transition: .7s;
  margin-top: 69.5px;
}

.show {
  display: block;
  height: auto;
  background-color: #EAF9FB;
}

.eq-types {
  max-width: 100%;
  padding: 0;
  margin: 0 0 150px;
}

.eq-types ul {
  padding: 0;
}

.eq-types ul li {
  border-top: 1px solid #E8E8E8;
  min-height: 168px;
  color: #454545;
  font-size: 22px;
  font-weight: bold;
  padding: 69.5px 0 0 0;
  cursor: pointer;
  position: relative;
}

.eq-types ul li span {
  padding: 69.5px 0 69.5px 163.5px;
}

.eq-types ul li:last-of-type {
  border-bottom: 1px solid #E8E8E8;
}

.eq-types ul li::after {
  content: "";
  background: url(../images/eq-arrow.png) no-repeat;
  display: inline-block;
  width: 20px;
  height: 9px;
  position: absolute;
  color: #3ECAE9;
  right: 13%;
  top: 50%;
}

.eq-types ul .list::after {
  background: url('../images/blue-arrow.png') no-repeat;
  width: 20px;
  height: 15px;
  top: 10%;
}

.eq-types ul::after {
  content: '';
  display: block;
  clear: both;
}

.checkup {
  margin: 155px 0 12px 4%;
}

.checkup-txt {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  width: 45%;
  margin-bottom: 42px;
}

.check-arrow {
  display: none;
}

.checkup-type {
  display: none;
}

.checkup-type--active {
  display: block;
}

.checkup-list {
  padding: 0;
}

.checkup-item {
  padding: 9px 60px 10px 20px;
}

.check-mob {
  display: none;
}

.check-show {
  display: block;
}

.checkup-item a {
  font-size: 18px;
  font-weight: 300;
  color: #424242;
}

.checkup-item a:hover {
  text-decoration: none;
}

.checkup-name {
  font-size: 18px;
  font-weight: 600;
  color: #40929A;
  margin: 0 0 13px;
}

.checkup-item--active {
  background: rgba(182, 198, 199, 0.14);
}

.checkup-info {
  font-size: 16px;
  font-weight: 300;
  color: #424242;
  margin-bottom: 40px;
  width: 80%;
}

.checkup-heading {
  font-size: 16px;
  font-weight: 300;
  color: #40929A;
  margin: 0 0 8px;
}

.checkup-heading--alone {
  margin-bottom: 24px;
}

.checkup-text {
  font-size: 16px;
  font-weight: 300;
  color: #424242;
  margin-bottom: 18px;
}

.checkup-item--active a {
  color: #40929A;
  text-decoration: none;
}

.checkup-head {
  color: #40929A;
  font-size: 25px;
  font-weight: 600;
}

.show h4 {
  font-size: 18px;
  padding: 0 0 30px 164px;
  color: #3B3B3B;
  font-weight: 500;
}

.show .row:first-of-type h4 {
  padding: 80.95px 0 30px 164px;
}

.show p {
  font-size: 16px;
  color: #757575;
  padding: 0 0 70.5px 164px;
  font-weight: 300;
}

.show .row .apparatus-img {
  background-color: #fff;
  width: 164.25px;
  height: 164.25px;
  margin-top: 0;
  margin-left: 95px;
  padding: 18.05px 39.64px 14.2px 34px;
}

.show .row:first-of-type .apparatus-img {
  margin-top: 80.95px;
}

/*			PRICE 			*/

.price-list-heading {
  margin-top: 50px;
  font-size: 28px;
  color: #3E7379;
  font-family: Roboto, sans-serif;
}

.price-list {
  margin-left: 10%;
  padding-left: 0;
  width: 65%;
  margin-bottom: 10%;
  transition: .9s;
  border: 1px solid #C2C2C2;
}

.list-price {
  background-color: #77E0A3;
  transition: .7s;
}

.list-price .span {
  color: #fff;
  position: relative;
  font-size: 20px;
}

.price-list .span::before {
  content: "";
  border-left: 1px solid #E0E0E0;
  position: absolute;
  height: 88px;
  right: 12%;
  margin-top: -29px;
}

.price-list .span::after {
  content: "\203A";
  position: absolute;
  transform: rotate(90deg);
  font-size: 66px;
  right: 45px;
  top: -5%;
  font-weight: 100;
  transition: .6s;
}

.list-price .span::before {
  right: 12%;
}

.list-price .span::after {
  transform: rotate(-90deg);
  /*right: 5.8%;*/
}

.price-list li {
  font-size: 20px;
  color: #545454;
  font-weight: 500;
  transition: .7s;
}

.price-list li:not(:first-of-type) {
  border-top: 1px solid #C2C2C2;
}

.price-list li .span {
  padding: 3% 3.5%;
  position: relative;
}

.price-list .row {
  padding-top: 3%;
}

.price-list .col-sm-2 {
  flex: 0 0 3.5%;
  max-width: 3.5%;
  color: #404040;
  font-weight: 500;
}

.price-heading {
  color: #404040;
  font-weight: 500;
}

.hidden-price .col-sm-4 {
  margin-right: 5%;
}

.hidden-price .col-sm-3:not(:last-of-type) {
  margin-right: 8%;
}

.hidden-price {
  height: 0;
  padding-left: 3.5%;
  padding-bottom: 0;
  font-weight: 300;
  color: #444444;
  background-color: #F7F7F7;
  transition: .4s;
}

.price-list .show {
  display: block;
  padding-bottom: 4%;
  height: auto;
  font-size: 20px;
  transition: .1s;
}

.hidden-price {
  font-size: 0;
  transition: .1s;
}

.sale-txt {
  width: 75.5%;
  margin-left: 10%;
  padding-top: 10%;
}

.sale-txt h1 {
  font-size: 36px;
  color: #292929;
  padding-right: 24%;
  font-weight: 500;
}

.sale-txt p {
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20%;
}

.sales {
  width: 75.5%;
  margin-left: 11%;
  padding-bottom: 3%;
}

.sales:last-of-type {
  padding-bottom: 10%;
}

.sales .col-sm-8 {
  background: rgba(0, 0, 0, .3);
}

.sales .col-sm-8:hover img {
  opacity: 0.5;
  transition: 0.5s;
}

.sale-description {
  margin-left: 11%;
}

.sale-description .col-sm-4 {
  padding-left: 6%;
  max-width: 25%;
}

.sale-description .col-sm-4 a {
  text-decoration: none;
}

.sale-description .col-sm-4 img {
  width: 100%;
}

.sale-description .col-sm-4 .side-sale-txt {
  box-shadow: 0 3px 16px -7px #000000;
}

.sale-description .col-sm-4 .side-sale-txt p {
  text-align: center;
  padding: 23.4px 42.4px 27.1px 24.5px;
  margin-bottom: 24px;
  color: #77E0A3;
  font-size: 16px;
}

.sale-description .col-sm-8 {}

.sale-description .col-sm-8 h3 {
  color: #707070;
  font-size: 42px;
}

.sale-description .col-sm-8 span {
  color: #D6D6D6;
  font-weight: 200;
  font-size: 18px;
}

.sale-description .col-sm-8 p {
  font-size: 20px;
  color: #707070;
  font-weight: 400;
  margin-top: 21px;
}

.inner-sales {
  margin-top: 1%;
  width: 81%;
  margin-left: 12%;
}

.blue-back {
  background-color: #33C7E8;
  position: relative;
}

.green-back {
  background-color: #77E0A3;
  position: relative;
}

.sales .col-sm-4,
.sales .col-sm-8 {
  padding: 0;
}

.sales-desc {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-40%, -50%);
}

.sales .col-sm-4 h3 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 8%;
}

.sales a {
  text-decoration: none;
}

.sales .col-sm-4 p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.sales img {
  width: 100.2%;
  margin-left: -0.1%;
}

.mob-visible {
  display: none;
}

.all-docs {
  margin: 60px auto 100px;
}

.all-doctors {
  display: none;
}

.all-doctors--active {
  display: block;
}

.all-docs .col-sm-3,
.all-docs .col-sm-9,
.all-docs .col-sm-9 .col-sm-2 {
  padding: 0;
}

.all-docs .col-sm-9 .col-sm-2 img {
  max-height: 133px;
  max-width: 133px;
}

.all-docs .col-sm-9 .row {
  margin: 0;
  width: 100%;
}

.all-docs .row:not(:last-of-type) {
  margin-bottom: 40px;
}

.all-docs .col-sm-9 .col-sm-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 420px;
}

.all-docs .col-sm-9 .col-sm-3 img {
  height: 280px;
  object-fit: cover;
  width: 186px;
}

.one-doctor .col-sm-4 img {
  max-width: 100%;
}

.doc-name {
  font-size: 14px;
  font-weight: 300;
  color: #424242;
  text-align: center;
  margin: 19px 0 11px;
}

.mobAll-docs {
  display: none;
}

.doc-btn {
  font-size: 14px;
  font-weight: 300;
  color: #40919A;
  text-decoration: none;
  text-align: center;
  padding: 6px 30px 7px;
  border: 1px solid #40919A;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  bottom: 0;
}

.doc-btn:hover {
  border: 1px solid #40919A;
  background: #40919A;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.category-list {
  padding: 0;
  width: 80%;
}

.category-head {
  font-size: 25px;
  font-weight: 600;
  color: #40929A;
  margin: 0 0 40px;
}

.category-item {
  padding: 9px 0 10px 20px;
  transition: 0.5s;
}

.category-item a {
  font-size: 16px;
  font-weight: 300;
  color: #4B4B4B;
  transition: 0.5s;
}

.category-item a {
  text-decoration: none;
  display: block;
}

.category-item--active {
  background: rgba(182, 198, 199, 0.14);
}

.category-item--active a {
  color: #40929A;
}

.category-item:hover {
  background: rgba(182, 198, 199, 0.14);
  transition: 0.5s;
}

.category-item:hover a {
  color: #40929A;
  transition: 0.5s;
}

/*.category:first-of-type h3{
	margin-top: 10%;
}
.category:last-of-type{
	margin-bottom: 10%;
}
.category h3{
	position: relative;
	font-size: 38px;
	color: #707070;
	padding-left: 10%;
	padding-bottom: 2%;
	cursor: pointer;
	margin-top: 5%;
	margin-bottom: 5%;
	border-bottom: 1px solid #DEDEDE;
}
.category h3::after{
	content: "\203A";
    position: absolute;
    transform: rotate(90deg);
    font-size: 66px;
    right: 7.8%;
    top: 3%;
    font-weight: 100;
    transition: .6s;
}
.drop-doctor h3::after{
	transform: rotate(-90deg);
    right: 8.8%;
}
.doctors-block{
	text-align: center;
}
.category .col-sm-4 img{
	border: 1px solid #707070;
}
.category .row{
	padding: 0 16% 5%;
	margin: 0;
	width: 100%;
}
.category .col-sm-4 h4{
	color: #707070;
	font-size: 23px;
	margin: 5% 0;
}
.category .col-sm-4 button{
	color: #409199;
	text-decoration: none;
	border: 1px solid #409199;
	width: 92%;
	height: 55px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	border-radius: 28px;
	background-color: transparent;
}*/

.one-doctor .row {
  width: 75%;
  margin: 0 auto;
}

.one-doctor {
  margin: 10% 0 15%;
}

.one-doctor .col-sm-4 img {
  border: 1px solid #707070;
  height: 365.9px;
}

.one-doctor .col-sm-8 {
  padding: 0 4%;
}

.desc-txt {
  margin-top: 4%;
}

.one-doctor .col-sm-8 h3 {
  color: #707070;
  font-size: 32px;
  margin-bottom: 4%;
}

.one-doctor .col-sm-8 h5 {
  color: #707070;
  font-size: 20px;
}

.one-doctor .col-sm-8 p {
  color: #707070;
  font-size: 20px;
  font-weight: 300;
  padding-right: 12%;
}

.one-doctor .col-sm-8 p span {
  color: #707070;
  font-size: 18px !important;
  font-weight: 300;
  padding-right: 12%;
}

.contact-page .row {
  width: 100%;
  margin: 0;
}

.contact-page .row .col-sm-8,
.contact-page .row .col-sm-4 {
  padding: 0;
}

#map {
  height: 700px;
  width: 100%;
}

.contact-page {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
}

.contact-page .row .col-sm-4 h5 {
  font-size: 18px;
  color: #4E4E4E;
}

.contact-page .row .col-sm-4 p {
  color: #4E4E4E;
  font-weight: 300;
  margin: 30px 0 50px;
  font-size: 16px;
}

.email-contact {
  margin: 30px 0 50px;
}

.social-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-page .row .col-sm-4 a {
  text-decoration: none;
  color: #4E4E4E;
  font-weight: 300;
  font-size: 16px;
}

.contact-page .row .col-sm-4 h2 {
  font-size: 24px;
  color: #4E4E4E;
  margin-top: 100px;
  margin-bottom: 70px;
}

.con-data {
  width: fit-content;
  margin: 0 auto;
}

@media only screen and (min-width:1700px) and (max-width: 1940px) {
  .gallery .row .col-sm-8 img {
    min-height: 711px;
  }

  .price-download {
    font-size: 20px;
  }

  .searchForm {
    width: 450px;
  }

  .searchData p {
    font-size: 18px;
  }

  .searchItem {
    font-size: 18px;
  }

  .searchInput {
    font-size: 18px;
  }

  .company-info p,
  .company-info ul,
  .company-info h4 {
    font-size: 22px;
  }

  .gallery .row .col-sm-4 img {
    max-height: 305.55px;
    min-height: 305.55px;
  }

  .company-info h1 {
    font-size: 40px;
    margin-top: 106.44px;
  }

  .main-directions h3,
  .history h3,
  .about-otzyvy .col-sm-8 h2 {
    font-size: 30px;
  }

  .main-directions .col-sm-4 p {
    font-size: 22px;
  }

  .history .small,
  .big {
    font-size: 20px;
  }

  .about-news p:first-of-type a {
    font-size: 16px;
  }

  .about-otzyvy .col-sm-8 a,
  .about-otzyvy .col-sm-4 a {
    font-size: 18px;
  }

  .his h5 {
    font-size: 20px;
  }

  .about-news p:nth-of-type(2) {
    padding-right: 33%;
    font-size: 18px;
  }

  .price-list {
    width: 55%;
  }

  .client-otzyv {
    font-size: 20px;
  }

  .history {
    width: 74%;
    margin-left: 12%;
  }

  .left-bub::after {
    left: 545.5px;
  }

  .right-bub::after {
    right: 530.5px;
  }

  .mission h3,
  .new-history h3 {
    font-size: 53px;
  }

  .mission p,
  .new-history p {
    font-size: 22px;
  }

  .container {
    max-width: 1483px;
  }

  .education .row:first-of-type p {
    padding: 100.41px 181px 120px 95px;
  }

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .education p {
    font-weight: 300;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 1464px;
    margin-right: 13%;
  }

  .gallery p {
    font-size: 18px;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 37px 0;
  }

  .eq-types {
    max-width: 100%;
    padding: 0;
  }

  .eq-types ul li span {
    padding: 69.5px 0 69.5px 225.5px;
  }

  .show h4 {
    padding: 0 0 30px 223px;
    font-size: 20px;
  }

  .show .row {
    width: 100%;
  }

  .show .row .apparatus-img {
    margin-left: 299px;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 223px;
  }

  .show p {
    padding: 0 0 70.5px 223px;
    font-size: 18px;
  }

  .company-info {
    margin-right: 246.41px;
  }

  .main-directions .col-sm-4 {
    text-align: center;
  }

  .left-bub {
    /*clear: both;*/
    left: 11.6%;
  }

  .right-bub {
    right: 11.6%;
  }

  .sale-txt p {
    font-size: 22px;
  }

  .sale-txt h1 {
    font-size: 49px;
  }

  .sales .col-sm-4 p {
    font-size: 22px;
  }

  .price-list .span::before {
    height: 94px;
    margin-top: -32px;
  }

  .price-list-heading {
    font-size: 36px;
  }

  .category .col-sm-4 img {
    width: 80%;
  }

  .category .col-sm-4 button {
    width: 80%;
    font-size: 20px;
    font-weight: 500;
  }

  .category .col-sm-4 h4 {
    font-size: 32px;
    font-weight: 400;
  }

  .category h3 {
    font-size: 47px;
  }

  .one-doctor .row {
    width: 57%;
  }

  .sale-description {
    margin-left: 11%;
  }

  .sale-description .col-sm-4 {
    padding-left: 6%;
    max-width: 25%;
  }

  .sale-description .col-sm-4 img {
    width: 100%;
  }

  .sale-description .col-sm-4 .side-sale-txt {
    box-shadow: 0 3px 16px -7px #000000;
  }

  .sale-description .col-sm-4 .side-sale-txt p {
    text-align: center;
    padding: 23.4px 0px 26.1px 0;
    margin-bottom: 24px;
    font-size: 18px;
    color: #77E0A3;
  }

  .sale-description .col-sm-8 {}

  .sale-description .col-sm-8 h3 {
    color: #707070;
    font-size: 42px;
  }

  .sale-description .col-sm-8 span {
    color: #D6D6D6;
    font-weight: 200;
    font-size: 22px;
  }

  .sale-description .col-sm-8 p {
    font-size: 24px;
    color: #707070;
    font-weight: 400;
    margin-top: 21px;
  }

  .inner-sales {
    margin-top: 1%;
    width: 81.5%;
    margin-left: 12%;
  }
}

/*1600*/

@media screen and (min-width: 1501px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .gallery .row .col-sm-4 img {
    max-height: 254.59px;
    min-height: 254.59px;
  }

  .price-download {
    font-size: 20px;
  }

  .gallery .row .col-sm-8 img {
    min-height: 594px;
  }

  .searchForm {
    width: 450px;
  }

  .searchData p {
    font-size: 18px;
  }

  .searchItem {
    font-size: 18px;
  }

  .searchInput {
    font-size: 18px;
  }

  .education {
    max-width: 1243px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 1234px;
    margin-left: 10.5%;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 28px 0;
  }

  .eq-types {
    max-width: 100%;
    padding: 0;
  }

  .eq-types ul li span {
    padding: 69.5px 0 69.5px 182.5px;
  }

  .eq-types ul li::after {
    right: 14%;
  }

  .show p {
    padding: 0 0 70.5px 183px;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 183px;
  }

  .show h4 {
    padding: 0 0 30px 183px;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
  }

  .sale-txt {
    width: 75%;
    margin-left: 11.5%;
  }

  .sale-txt .col-sm-6 {
    padding: 0;
  }

  .sales {
    width: 75%;
    margin-left: 11.5%;
    padding-bottom: 3%;
  }

  .price-list .span::before {
    margin-top: -39px;
    height: 106px;
  }

  .main-directions .col-sm-4 {
    text-align: center;
  }

  .history {
    width: 71.3%;
    margin-left: 14%;
  }

  .about-news p:nth-of-type(2) {
    padding-right: 30%;
  }

  .category .col-sm-4 button {
    width: 90%;
  }

  .one-doctor .row {
    width: 67%;
  }

  .sale-description {
    margin-left: 11%;
  }

  .sale-description .col-sm-4 {
    padding-left: 6%;
    max-width: 25%;
  }

  .sale-description .col-sm-4 img {
    width: 100%;
  }

  .sale-description .col-sm-4 .side-sale-txt {
    box-shadow: 0 3px 16px -7px #000000;
  }

  .sale-description .col-sm-4 .side-sale-txt p {
    text-align: center;
    padding: 19.4px 22.4px 22.1px 24.5px;
    margin-bottom: 24px;
    color: #77E0A3;
    font-size: 16px;
  }

  .sale-description .col-sm-8 {}

  .sale-description .col-sm-8 h3 {
    color: #707070;
    font-size: 42px;
  }

  .sale-description .col-sm-8 span {
    color: #D6D6D6;
    font-weight: 200;
    font-size: 20px;
  }

  .sale-description .col-sm-8 p {
    font-size: 22px;
    color: #707070;
    font-weight: 400;
    margin-top: 21px;
  }

  .inner-sales {
    margin-top: 1%;
    width: 80%;
    margin-left: 12%;
  }
}

/*1366*/

@media screen and (min-width: 1300px) and (max-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 95%;
  }

  .one-doctor .col-sm-4 img {
    height: 345.9px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .row .col-sm-4 img {
    max-height: 213.7px;
    min-height: 213.7px;
  }

  .gallery .row .col-sm-8 img {
    min-height: 504px;
  }

  .checkup {
    margin: 155px 0 12px 4%;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 19px 0;
  }

  .gallery h1 {
    padding: 100.15px 0 80px 0;
  }

  .gallery .container {
    max-width: 1051px;
    margin-right: 12.5%;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .show .row .apparatus-img {
    margin-left: 176px;
  }

  .eq-types ul li span {
    font-size: 20px;
  }

  .equipment p {
    font-size: 17px;
  }

  .sales .col-sm-4 p {
    font-size: 19px;
  }

  .all-docs {
    max-width: 80%;
  }

  .all-docs .col-sm-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .all-docs .col-sm-9 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .sale-txt p {
    font-size: 17px;
  }

  .price-list li .span {
    padding: 2% 4.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 18px;
  }

  .price-list .show {
    font-size: 18px;
  }

  .price-list .span::before {
    margin-top: -23px;
    height: 72px;
  }

  .price-list .span::after {
    top: -17%;
  }

  .left-bub::after {
    left: 533.5px;
  }

  .right-bub::after {
    right: 520.5px;
  }

  .category .col-sm-4 img {
    width: 90%;
  }

  .one-doctor .row {
    width: 78%;
  }

  .one-doctor .col-sm-8 p {
    font-size: 18px;
  }

  .one-doctor .col-sm-8 h3 {
    font-size: 34px;
  }

  .company-name {
    bottom: 125px;
  }
}

/*1280*/

@media screen and (min-width: 1200px) and (max-width: 1301px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 95%;
  }

  .one-doctor .col-sm-4 img {
    height: 345.9px;
  }

  .price-download {
    margin: 0 11% 50px;
  }

  .gallery .row .col-sm-4 img {
    max-height: 201.02px;
    min-height: 201.02px;
  }

  .gallery .row .col-sm-8 img {
    min-height: 479px;
  }

  .education {
    max-width: 1000px;
    margin-right: 155px;
  }

  .checkup {
    margin: 155px 0 12px 4%;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .all-docs {
    max-width: 86%;
  }

  .all-docs .col-sm-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .all-docs .col-sm-9 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 19px 0;
  }

  .gallery h1 {
    padding: 100.15px 0 80px 0;
  }

  .gallery .container {
    max-width: 994px;
    margin-right: 12.5%;
  }

  .equipment p {
    font-size: 17px;
  }

  .eq-types ul li {
    padding: 51.5px 0 0 0;
    min-height: 137px;
    font-size: 20px;
  }

  .eq-types ul li span {
    padding: 51.5px 0 51.5px 147.5px;
  }

  .eq-types ul .list::after {
    top: 9%;
  }

  .show p {
    padding: 0 0 70.5px 147.5px;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 147.5px;
  }

  .show h4 {
    padding: 0 0 30px 147.5px;
  }

  .equipment {
    max-width: 1016px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .sales .col-sm-4 p {
    font-size: 18px;
  }

  .sale-txt p {
    font-size: 16px;
  }

  .price-list li .span {
    padding: 2% 4.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 18px;
  }

  .price-list .show {
    font-size: 18px;
  }

  .price-list .span::before {
    margin-top: -21px;
    height: 67px;
  }

  .price-list .span::after {
    top: -17%;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  /* .price-list-heading {
    margin-left: 11%;
  } */

  .about-otzyvy .container,
  .main-directions {
    max-width: 80%;
  }

  .about-otzyvy .container .container {
    max-width: 100%;
  }

  .history {
    width: 80%;
    margin-left: 10%;
  }

  .left-bub::after {
    left: 510.5px;
  }

  .right-bub::after {
    right: 498.5px;
  }

  .main-directions .col-sm-4 {
    padding: 72px 5% 0 5%;
    text-align: center;
  }

  .mission p,
  .new-history p {
    font-size: 18px;
  }

  .company-info {
    width: 40%;
    margin-right: 0;
  }

  .one-doctor .row {
    width: 80%;
  }

  .one-doctor .col-sm-8 p {
    font-size: 18px;
  }

  .one-doctor .col-sm-8 h3 {
    font-size: 34px;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 38px;
  }

  .sale-description {
    margin-left: 10%;
  }

  .inner-sales {
    width: 81.5%;
    margin-left: 11%;
  }

  .sale-description .col-sm-8 span {
    font-size: 16px;
  }

  .sale-description .col-sm-8 p {
    font-size: 18px;
  }

  .company-name {
    bottom: 125px;
  }
}

/*1024*/

@media screen and (min-width: 900px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 95%;
  }

  .one-doctor .col-sm-4 img {
    height: 305.9px;
  }

  .checkup {
    margin: 100px 0 12px 4%;
  }

  .all-docs {
    display: none;
  }

  .mobAll-docs {
    display: block;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    overflow: hidden;
  }

  .doc-show {
    height: auto;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 300px;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 170px;
    min-height: 170px;
    margin: 0 auto;
  }

  .doc-name {
    margin: 19px auto 11px;
    text-align: center;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 50%;
    display: block;
    left: 0;
    right: 0;
  }

  .gallery .row .col-sm-4 img {
    max-height: 156.77px;
    min-height: 156.77px;
  }

  .price-download {
    margin: 0 11% 50px;
  }

  .gallery .row .col-sm-8 img {
    min-height: 391px;
  }

  .category h3::after {
    top: -18%;
  }

  .over {
    overflow: scroll;
  }

  .education {
    max-width: 804px;
    margin-right: 122px;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 19px 0;
  }

  .gallery h1 {
    padding: 100.15px 0 80px 0;
  }

  .gallery .container {
    max-width: 795px;
    margin-right: 12.5%;
  }

  .all-docs .row {
    display: block;
  }

  .all-doctors .row {
    display: flex;
  }

  .all-docs {
    max-width: 86%;
  }

  .all-docs .col-sm-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .category-item {
    padding: 9px 20px 10px 20px;
  }

  .category-list {
    padding: 0;
    width: 100%;
    display: flex;
  }

  .all-docs .col-sm-9 {
    margin-top: 5%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .equipment p {
    font-size: 17px;
  }

  .eq-types ul li {
    padding: 51.5px 0 0 0;
    min-height: 137px;
    font-size: 20px;
  }

  .eq-types ul li span {
    padding: 51.5px 0 51.5px 112.5px;
  }

  .eq-types ul .list::after {
    top: 9%;
  }

  .equipment h1 {
    font-size: 30px;
    padding: 118.45px 0 194.99px 0px;
  }

  .show p {
    padding: 0 0 70.5px 112.5px;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 112.5px;
  }

  .eq-types ul li::after {
    right: 15%;
  }

  .show h4 {
    padding: 0 0 30px 112.5px;
  }

  .equipment {
    max-width: 827px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .sales .col-sm-4 h3 {
    font-size: 45px;
  }

  .sales .col-sm-4 p {
    font-size: 18px;
  }

  .sale-txt p {
    font-size: 16px;
  }

  .price-list li .span {
    padding: 2% 4.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 18px;
  }

  .price-list .show {
    font-size: 18px;
  }

  .price-list .span::before {
    margin-top: -17px;
    height: 60px;
  }

  .price-list .span::after {
    top: -33%;
    right: 40px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  /* .price-list-heading {
    margin-left: 11%;
  } */

  .list-price .span::after {
    right: 40px;
  }

  .hidden-price .col-sm-4 {
    margin-right: 4%;
  }

  .hidden-price .col-sm-3:not(:last-of-type) {
    margin-right: 6%;
  }

  .about-otzyvy .container,
  .main-directions {
    max-width: 80%;
  }

  .about-otzyvy .container .container {
    max-width: 100%;
  }

  .speech-bubble {
    width: 90%;
  }

  .bubble {
    width: 47%;
  }

  .his {
    width: 100%;
  }

  .his img {
    width: 81%;
  }

  .his-left::after {
    left: 96%;
  }

  .history {
    width: 80%;
    margin-left: 10%;
  }

  .left-bub::after {
    left: 106%;
  }

  .right-bub::after {
    right: 102.5%;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 2%;
  }

  .company {
    /*background-position: -36% 63%;*/
  }

  .company-info p {
    font-size: 16px;
  }

  .his-right::after {
    right: 94%;
  }

  .main-directions .col-sm-4 {
    padding: 72px 5% 0 5%;
    text-align: center;
  }

  .mission p {
    font-size: 18px;
    padding: 32.02px 182.28px 0;
  }

  .new-history p {
    font-size: 18px;
  }

  .company-info {
    width: 35%;
    margin-right: 5%;
  }

  .category .col-sm-4 img {
    width: 90%;
  }

  .category .col-sm-4 h4 {
    font-size: 18px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
  }

  .one-doctor .row {
    width: 85%;
  }

  .one-doctor .col-sm-4 {
    padding: 0;
  }

  .one-doctor .col-sm-8 p {
    font-size: 18px;
  }

  .one-doctor .col-sm-8 h3 {
    font-size: 34px;
  }

  .one-doctor .col-sm-4 img {
    width: 100%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 35px;
  }

  .sale-description {
    margin-left: 10%;
    width: 90%;
  }

  .inner-sales {
    width: 81.5%;
    margin-left: 11%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 .side-sale-txt p {
    font-size: 14px;
    padding: 16.4px 17.4px 16.1px 11.5px;
  }

  .company-name {
    top: 69%;
  }
}

/*768*/

@media screen and (min-width: 600px) and (max-width: 899px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 95%;
  }

  .gallery .row .col-sm-8 img {
    min-height: 322px;
  }

  .checkup {
    margin: 55px 0 12px 4%;
  }

  .priceWrap {
    display: none;
  }

  .one-doctor .col-sm-4 img {
    height: 305.9px;
  }

  .mission {
    height: auto;
  }

  .mission h3,
  .new-history h3 {
    padding-top: 50px;
  }

  .all-docs {
    display: none;
  }

  .mobAll-docs {
    display: block;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    overflow: hidden;
  }

  .doc-show {
    height: auto;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 300px;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 170px;
    min-height: 170px;
    margin: 0 auto;
  }

  .doc-name {
    margin: 19px auto 11px;
    text-align: center;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 50%;
    display: block;
    left: 0;
    right: 0;
  }

  .price-download {
    margin: 0 11% 50px;
  }

  .gallery .row .col-sm-4 img {
    max-height: 122.3px;
    min-height: 122.3px;
  }

  .over {
    overflow: scroll;
  }

  .category h3::after {
    top: -18%;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .checkup-txt {
    width: 85%;
  }

  .checkup-info {
    width: 100%;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
  }

  .all-docs .row {
    display: block;
  }

  .all-doctors .row {
    display: block;
  }

  .all-doctors::after {
    content: "";
    display: table;
    clear: both;
  }

  .all-docs {
    max-width: 86%;
  }

  .all-docs .col-sm-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .category-item {
    padding: 9px 10px 10px 10px;
  }

  .category-list {
    padding: 0;
    width: 100%;
    display: flex;
  }

  .all-docs .col-sm-9 .col-sm-2 {
    float: left;
    max-width: 25%;
    margin-bottom: 5%;
  }

  .all-docs .col-sm-9 {
    margin-top: 5%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .category-item a {
    font-size: 16px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 19px 0;
  }

  .gallery h1 {
    padding: 70.15px 0 60px 0;
  }

  .gallery .container {
    max-width: 640px;
    margin-right: 8.5%;
  }

  .equipment p {
    font-size: 17px;
  }

  .eq-types ul li {
    padding: 51.5px 0 0 0;
    min-height: 134px;
    font-size: 20px;
  }

  .eq-types ul li span {
    padding: 51.5px 0 51.5px 85.5px;
  }

  .eq-types ul .list::after {
    top: 9%;
  }

  .equipment h1 {
    font-size: 25px;
    padding: 118.45px 0 194.99px 0px;
  }

  .show p {
    padding: 0 0 70.5px 85.5px;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 85.5px;
  }

  .eq-types ul li::after {
    right: 15%;
  }

  .show h4 {
    padding: 0 0 30px 85.5px;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
    margin-top: 64px;
    margin-left: 20px;
  }

  .show .row:first-of-type .apparatus-img {
    margin-top: 146.95px;
  }

  .equipment {
    max-width: 627px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .sale-txt {
    margin-left: 11%;
  }

  .sale-txt .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .sales {
    width: 78.5%;
  }

  .sale-txt h1 {
    margin-bottom: 5%;
  }

  .sales .col-sm-4 h3 {
    font-size: 35px;
  }

  .sales .col-sm-4 p {
    font-size: 16px;
  }

  .sale-txt p {
    font-size: 16px;
    padding-bottom: 5%;
  }

  .price-list li .span {
    padding: 2% 4.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 16px;
  }

  .price-list .show {
    font-size: 16px;
  }

  .price-list .span::before {
    margin-top: -12px;
    height: 48px;
  }

  .hidden-price .col-sm-4 {
    margin-right: 4%;
  }

  .hidden-price .col-sm-3:not(:last-of-type) {
    margin-right: 2%;
  }

  .price-list .span::after {
    top: -33%;
    right: 26px;
    font-size: 53px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  /* .price-list-heading {
    margin-left: 11%;
  } */

  .list-price .span::after {
    right: 26px;
  }

  .company {
    background: none;
    height: auto;
  }

  .company-info h1 {
    text-align: center;
  }

  .mission p {
    padding: 32.02px 10% 0 10%;
    font-size: 17px;
  }

  .new-history p {
    font-size: 17px;
  }

  .main-directions {
    max-width: 80%;
  }

  .history,
  .about-otzyvy .container {
    width: 80%;
    margin-left: 10%;
  }

  .about-otzyvy .col-sm-8,
  .about-otzyvy .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-otzyvy .col-sm-4 h2 {
    text-align: center;
  }

  .about-otzyvy .container .container {
    margin-left: 0%;
    width: 100%;
  }

  .about-otzyvy .col-sm-8 h2 {
    text-align: center;
  }

  .about-news img {
    width: 100%;
  }

  .history-line,
  .right-bub::after,
  .his-right::after,
  .left-bub::after,
  .his-left::after {
    display: none;
  }

  .bubble:first-of-type {
    margin-top: 10%;
  }

  .company-info {
    margin-right: 16%;
  }

  .right-bub,
  .left-bub {
    float: none;
  }

  .bubble:nth-of-type(2),
  .bubble {
    margin-top: 5%;
  }

  .bubble {
    margin-left: 10%;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 18px;
  }

  .main-directions .col-sm-4 {
    padding: 0;
    text-align: center;
    height: 255px;
    padding-top: 6%;
  }

  .category .col-sm-4 img {
    width: 100%;
  }

  .category .col-sm-4 h4 {
    font-size: 18px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
  }

  .category .row {
    padding: 0 8% 5%;
  }

  .one-doctor .col-sm-4 img {
    width: 55%;
    margin-bottom: 30px;
  }

  .one-doctor .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .one-doctor .col-sm-8 h3 {
    text-align: center;
    margin-bottom: 15%;
  }

  .one-doctor .col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 30px;
  }

  .sale-description {
    margin-left: 9%;
    width: 90%;
  }

  .inner-sales {
    width: 81.5%;
    margin-left: 11%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 .side-sale-txt p {
    font-size: 14px;
    padding: 16.4px 17.4px 16.1px 11.5px;
  }

  .sale-description .col-sm-4 {
    padding-right: 0;
  }

  .company-name {
    display: none;
  }
}

/*425*/

@media screen and (min-width: 410px) and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 95%;
  }

  .doc-btn {
    position: relative;
  }

  .mission {
    height: auto;
  }

  .mission h3 {
    padding-top: 50px;
  }

  .priceWrap {
    display: none;
  }

  .searchData .searchName {
    margin-left: 0;
  }

  .price-download {
    margin: 0 11% 20px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    max-height: 233.5px;
    min-height: auto;
  }

  .searchForm {
    width: 100%;
  }

  .over {
    overflow: scroll;
  }

  .social-con {
    width: 40%;
    margin-bottom: 30px;
  }

  .category h3::after {
    top: -34%;
  }

  .check-show {
    overflow: scroll;
    margin-top: 20px;
  }

  .equip {
    display: none;
  }

  .checkup {
    margin: 55px auto 12px;
    padding: 0;
    width: 80%;
  }

  .checkup-item {
    position: relative;
    padding: 9px 35px 10px 0;
  }

  .check-arrow {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
  }

  .checkup-item--active {
    background: transparent;
  }

  .check-arrow img {
    transform: rotate(180deg);
    filter: brightness(0);
    transition: .5s;
  }

  .checkup-item--active .check-arrow img {
    transform: rotate(0deg);
    filter: unset;
    transition: .5s;
  }

  .checkup .col-sm-6:last-of-type {
    display: none;
  }

  .checkup-name {
    display: none;
  }

  .checkup-txt {
    width: 100%;
  }

  .checkup-info {
    margin-top: 30px;
    width: 100%;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
    padding: 5% 0 0;
  }

  .education .col-sm-4,
  .education .col-sm-6 {
    padding: 0 10%;
  }

  .education .col-sm-8 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-8 {
    margin-bottom: 5%;
  }

  .education .row:first-of-type p {
    padding: 5% 0;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 380px;
  }

  .gallery h1 {
    padding: 50.15px 0 40px 34px;
  }

  .gallery p,
  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 20px 0;
  }

  .all-docs {
    display: none;
  }

  .mobAll-docs {
    display: block;
  }

  .mobAll-docs .row {
    display: flex;
    margin-bottom: 5%;
  }

  .category-name {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: #424242;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    visibility: hidden;
  }

  .doc-show {
    height: auto;
    visibility: visible;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 170px;
    min-height: 170px;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 100%;
  }

  .equipment p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 15%;
  }

  .eq-types ul li {
    padding: 51.5px 0 0 0;
    min-height: 134px;
    font-size: 20px;
  }

  .eq-types ul li span {
    padding: 51.5px 0 51.5px 9%;
    font-size: 18px;
  }

  .eq-types ul .list::after {
    top: 4.5%;
  }

  .equipment h1 {
    font-size: 25px;
    padding: 10% 0 5% 0px;
  }

  .show p {
    padding: 0 0 24.5px 9%;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 9%;
  }

  .eq-types ul li::after {
    right: 10%;
    top: 48%;
  }

  .show h4 {
    padding: 0 0 30px 9%;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
    margin-top: 64px;
    margin-left: 20px;
  }

  .show .row:first-of-type .apparatus-img {
    margin-top: 0;
    margin-left: 38px;
    width: 88%;
    height: 198.25px;
    padding: 33.05px 21.64px 14.2px 118px;
    margin-bottom: 15%;
  }

  .show .row .apparatus-img {
    margin-bottom: 15%;
    margin-top: 0;
    margin-left: 38px;
    padding: 33.05px 21.64px 14.2px 118px;
    height: 198.25px;
    width: 88%;
  }

  .equipment {
    max-width: 375px;
  }

  .over {
    overflow: scroll;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .sale-txt {
    margin-left: 11%;
  }

  .sale-txt .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .sales {
    width: 78.5%;
  }

  .sale-txt h1 {
    margin-bottom: 5%;
  }

  .sales .col-sm-4 h3 {
    font-size: 35px;
  }

  .sales .col-sm-4 p {
    font-size: 16px;
  }

  .sale-txt p {
    font-size: 16px;
    padding-bottom: 5%;
  }

  .blue-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(51, 199, 232, .7);
  }

  .sales .col-sm-4,
  .sales .col-sm-8 {
    height: 180px;
  }

  .sales img {
    height: 100%;
  }

  .green-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(119, 224, 163, .7);
  }

  .sales-desc {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .price-list li .span {
    padding: 2% 8.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 16px;
  }

  .price-list .show {
    font-size: 16px;
  }

  .price-list .span::before {
    margin-top: -7px;
    height: 38px;
  }

  .hidden-price .row:first-of-type {
    display: none;
  }

  .price-list .span::after {
    top: -53%;
    right: 13px;
    font-size: 53px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  .price-list-heading {
    /* margin-left: 11%; */
    font-size: 25px;
  }

  .list-price .span::after {
    right: 13px;
  }

  .mob-visible {
    display: inline;
    font-weight: 500;
  }

  .company {
    background: none;
    height: auto;
  }

  .company-info h1 {
    text-align: center;
    margin-top: 25%;
  }

  .mission p {
    padding: 32.02px 10% 0 10%;
    font-size: 17px;
  }

  .new-history p {
    font-size: 17px;
  }

  .main-directions {
    max-width: 80%;
  }

  .history,
  .about-otzyvy .container {
    width: 80%;
    margin-left: 10%;
  }

  .about-otzyvy .col-sm-8,
  .about-otzyvy .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-otzyvy .col-sm-4 h2 {
    text-align: center;
    margin-top: 0;
  }

  .about-otzyvy .container .container {
    margin-left: 0%;
    width: 100%;
  }

  .about-otzyvy .col-sm-8 h2 {
    text-align: center;
  }

  .about-news img {
    width: 100%;
  }

  .history-line,
  .right-bub::after,
  .his-right::after,
  .left-bub::after,
  .his-left::after {
    display: none;
  }

  .bubble:first-of-type {
    margin-top: 10%;
  }

  .company-info {
    margin-right: 10%;
    width: 80%;
  }

  .his {
    width: 100%;
  }

  .his img {
    width: 100%;
    padding: 0 15% 57px;
  }

  .contain {
    width: 100%;
  }

  .right-bub,
  .left-bub {
    float: none;
  }

  .bubble:nth-of-type(2),
  .bubble {
    margin-top: 5%;
  }

  .bubble {
    margin-left: 0;
  }

  .bubble .small {
    padding: 24px 60px 41px 62px;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 18px;
    margin-bottom: 10%;
  }

  .main-directions .col-sm-4 {
    padding: 0;
    text-align: center;
    height: 255px;
    padding-top: 14%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .speech-bubble {
    margin-top: -2%;
  }

  .category .col-sm-4 img {
    width: 100%;
  }

  .category .col-sm-4 h4 {
    font-size: 20px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20%;
  }

  .category .row {
    padding: 0 8% 5%;
  }

  .category h3 {
    padding-left: 0;
    padding-bottom: 2%;
    text-align: center;
  }

  .category:first-of-type h3 {
    margin-top: 20%;
    margin-bottom: 3%;
  }

  .one-doctor .col-sm-4 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .one-doctor .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .one-doctor .col-sm-8 h3 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 26px;
  }

  .one-doctor .col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .one-doctor .col-sm-8 p,
  .one-doctor .col-sm-8 h5 {
    padding-right: 0%;
    font-size: 16px;
  }

  .con-data {
    width: 100%;
    padding-left: 7%;
  }

  .contact-page .row .col-sm-4 h2 {
    margin-top: 8%;
    margin-bottom: 13%;
  }

  .contact-page .row .col-sm-4 p,
  .email-contact {
    margin: 5% 0 8%;
  }

  #map {
    height: 400px;
  }

  .contact-page {
    margin-bottom: 0;
  }

  .sale-description {
    width: 85%;
    margin-left: 9%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 25px;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 {
    padding: 0;
    max-width: 100%;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 {
    padding: 0;
  }

  .inner-sales {
    margin-left: 9%;
  }

  .company-name {
    display: none;
  }
}

/*375*/

@media screen and (min-width: 370px) and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .doc-btn {
    position: relative;
  }

  .mission {
    height: auto;
  }

  .mission h3,
  .new-history h3 {
    padding-top: 0;
  }

  .priceWrap {
    display: none;
  }

  .price-download {
    margin: 0 11% 20px;
  }

  .searchForm {
    width: 100%;
  }

  .searchData .searchName {
    margin-left: 0;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    max-height: 213.48px;
    min-height: auto;
  }

  .social-con {
    width: 40%;
    margin-bottom: 30px;
  }

  .equip {
    display: none;
  }

  .check-show {
    overflow: scroll;
    margin-top: 20px;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .category h3::after {
    top: -34%;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
    padding: 5% 0 0;
  }

  .all-docs {
    display: none;
  }

  .checkup {
    margin: 55px auto 12px;
    padding: 0;
    width: 80%;
  }

  .checkup-item {
    position: relative;
    padding: 9px 15px 10px 0;
  }

  .check-arrow {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
  }

  .checkup-item--active {
    background: transparent;
  }

  .check-arrow img {
    transform: rotate(180deg);
    filter: brightness(0);
    transition: .5s;
  }

  .checkup-item--active .check-arrow img {
    transform: rotate(0deg);
    filter: unset;
    transition: .5s;
  }

  .checkup .col-sm-6:last-of-type {
    display: none;
  }

  .checkup-name {
    display: none;
  }

  .checkup-txt {
    width: 100%;
  }

  .checkup-info {
    margin-top: 30px;
    width: 100%;
  }

  .mobAll-docs {
    display: block;
  }

  .mobAll-docs .row {
    display: flex;
    margin-bottom: 5%;
  }

  .category-name {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: #424242;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    visibility: hidden;
  }

  .doc-show {
    height: auto;
    visibility: visible;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 160px;
    min-height: 160px;
  }

  .doc-name {
    min-height: 48px;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 100%;
  }

  .education .col-sm-4,
  .education .col-sm-6 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-4 {
    margin-bottom: 2%;
  }

  .education .col-sm-8 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-8 {
    margin-bottom: 5%;
  }

  .education .row:first-of-type p {
    padding: 5% 0;
  }

  .education h1 {
    padding: 58.41px 0 0 0;
    font-size: 31px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 350px;
  }

  .gallery h1 {
    padding: 50.15px 0 40px 40px;
    font-size: 2.2rem;
  }

  .gallery p,
  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 20px 0;
  }

  .equipment p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 15%;
  }

  .eq-types ul li {
    padding: 35.5px 0 0 0;
    min-height: 102px;
    font-size: 18px;
  }

  .eq-types ul li span {
    padding: 40.5px 0 40.5px 9.5%;
    font-size: 16px;
  }

  .eq-types ul .list::after {
    top: 3.2%;
  }

  .equipment h1 {
    font-size: 25px;
    padding: 10% 0 5% 0px;
  }

  .show p {
    padding: 0 0 24.5px 9.5%;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 9.5%;
  }

  .eq-types ul li::after {
    right: 10%;
    top: 44%;
  }

  .show h4 {
    padding: 0 0 30px 9.5%;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
    margin-top: 64px;
    margin-left: 20px;
  }

  .show .row:first-of-type .apparatus-img {
    margin-top: 0;
    margin-left: 35px;
    width: 88%;
    height: 198.25px;
    padding: 33.05px 21.64px 14.2px 118px;
    margin-bottom: 15%;
  }

  .show .row .apparatus-img {
    margin-bottom: 15%;
    margin-top: 0;
    margin-left: 35px;
    padding: 33.05px 21.64px 14.2px 118px;
    height: 198.25px;
    width: 88%;
  }

  .equipment {
    max-width: 340px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .hidden-eq {
    margin-top: 40.5px;
  }

  .sale-txt {
    margin-left: 11%;
  }

  .sale-txt .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .sales {
    width: 78.5%;
  }

  .sale-txt h1 {
    margin-bottom: 5%;
  }

  .sales .col-sm-4 h3 {
    font-size: 35px;
  }

  .sales .col-sm-4 p {
    font-size: 16px;
  }

  .sale-txt p {
    font-size: 16px;
    padding-bottom: 5%;
  }

  .blue-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(51, 199, 232, .7);
  }

  .sales .col-sm-4,
  .sales .col-sm-8 {
    height: 180px;
  }

  .sales img {
    height: 100%;
  }

  .green-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(119, 224, 163, .7);
  }

  .sales-desc {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .price-list li .span {
    padding: 2% 8.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 16px;
  }

  .price-list .show {
    font-size: 16px;
  }

  .price-list .span::before {
    margin-top: -7px;
    height: 36px;
  }

  .hidden-price .row:first-of-type {
    display: none;
  }

  .price-list .span::after {
    top: -53%;
    right: 11px;
    font-size: 48px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  .price-list-heading {
    /* margin-left: 11%; */
    font-size: 25px;
  }

  .list-price .span::after {
    right: 11px;
  }

  .mob-visible {
    display: inline;
    font-weight: 500;
  }

  .hidden-price .col-sm-4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .company {
    background: none;
    height: auto;
    padding-bottom: 16%;
  }

  .company-info h1 {
    text-align: center;
    margin-top: 25%;
  }

  .mission p {
    padding: 32.02px 10% 0 10%;
    font-size: 17px;
  }

  .new-history p {
    font-size: 17px;
  }

  .main-directions {
    max-width: 80%;
  }

  .main-directions h3 {
    margin-top: 20%;
  }

  .history,
  .about-otzyvy .container {
    width: 80%;
    margin-left: 10%;
  }

  .about-otzyvy .col-sm-8,
  .about-otzyvy .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-otzyvy .col-sm-4 h2 {
    text-align: center;
    margin-top: 0;
  }

  .about-otzyvy .container .container {
    margin-left: 0%;
    width: 100%;
  }

  .about-otzyvy .col-sm-8 h2 {
    text-align: center;
  }

  .about-news img {
    width: 100%;
  }

  .history-line,
  .right-bub::after,
  .his-right::after,
  .left-bub::after,
  .his-left::after {
    display: none;
  }

  .bubble:first-of-type {
    margin-top: 10%;
  }

  .company-info {
    margin-right: 10%;
    width: 80%;
  }

  .his {
    width: 100%;
  }

  .his img {
    width: 100%;
    padding: 0 15% 57px;
  }

  .contain {
    width: 100%;
  }

  .right-bub,
  .left-bub {
    float: none;
  }

  .bubble:nth-of-type(2),
  .bubble {
    margin-top: 5%;
  }

  .bubble {
    margin-left: 0;
  }

  .bubble .small {
    padding: 24px 60px 41px 62px;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 18px;
    margin-bottom: 10%;
  }

  .main-directions .col-sm-4 {
    padding: 0;
    text-align: center;
    height: 255px;
    padding-top: 16%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .speech-bubble {
    margin-top: -2%;
  }

  .category .col-sm-4 img {
    width: 100%;
  }

  .category .col-sm-4 h4 {
    font-size: 19px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20%;
  }

  .category .row {
    padding: 0 8% 5%;
  }

  .category h3 {
    padding-left: 0;
    padding-bottom: 2%;
    text-align: center;
  }

  .category:first-of-type h3 {
    margin-top: 20%;
    margin-bottom: 3%;
  }

  .one-doctor .col-sm-4 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .one-doctor .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .one-doctor .col-sm-8 h3 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 26px;
  }

  .one-doctor .col-sm-8 {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
  }

  .one-doctor .col-sm-8 p,
  .one-doctor .col-sm-8 h5 {
    padding-right: 0%;
    font-size: 16px;
  }

  .con-data {
    width: 100%;
    padding-left: 7%;
  }

  .contact-page .row .col-sm-4 h2 {
    margin-top: 8%;
    margin-bottom: 13%;
  }

  .contact-page .row .col-sm-4 p,
  .email-contact {
    margin: 5% 0 8%;
  }

  #map {
    height: 400px;
  }

  .contact-page {
    margin-bottom: 0;
  }

  .sale-description {
    width: 80%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 25px;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 {
    max-width: 100%;
    margin-top: 15%;
  }

  .sale-description {
    width: 85%;
    margin-left: 9%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 25px;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 {
    padding: 0;
    max-width: 100%;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 {
    padding: 0;
  }

  .inner-sales {
    margin-left: 9%;
  }

  .company-name {
    display: none;
  }
}

/*360*/

@media screen and (min-width: 355px) and (max-width: 369px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .priceWrap {
    display: none;
  }

  .mission {
    height: auto;
  }

  .mission h3 {
    padding-top: 0;
  }

  .doc-btn {
    position: relative;
  }

  .searchForm {
    width: 100%;
  }

  .price-download {
    margin: 0 11% 20px;
  }

  .searchData .searchName {
    margin-left: 0;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    max-height: 213.48px;
    min-height: auto;
  }

  .category h3::after {
    top: -40%;
  }

  .social-con {
    width: 40%;
    margin-bottom: 30px;
  }

  .over {
    overflow: scroll;
  }

  .check-show {
    overflow: scroll;
    margin-top: 20px;
  }

  .equip {
    display: none;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
    padding: 5% 0 0;
  }

  .checkup {
    margin: 55px auto 12px;
    padding: 0;
    width: 80%;
  }

  .checkup-item {
    position: relative;
    padding: 9px 15px 10px 0;
  }

  .check-arrow {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
  }

  .checkup-item--active {
    background: transparent;
  }

  .check-arrow img {
    transform: rotate(180deg);
    filter: brightness(0);
    transition: .5s;
  }

  .checkup-item--active .check-arrow img {
    transform: rotate(0deg);
    filter: unset;
    transition: .5s;
  }

  .checkup .col-sm-6:last-of-type {
    display: none;
  }

  .checkup-name {
    display: none;
  }

  .checkup-txt {
    width: 100%;
  }

  .checkup-info {
    margin-top: 30px;
    width: 100%;
  }

  .all-docs {
    display: none;
  }

  .mobAll-docs {
    display: block;
  }

  .mobAll-docs .row {
    display: flex;
    margin-bottom: 5%;
  }

  .category-name {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: #424242;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    visibility: hidden;
  }

  .doc-show {
    height: auto;
    visibility: visible;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 160px;
    min-height: 160px;
  }

  .doc-name {
    min-height: 48px;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 100%;
  }

  .education .col-sm-4,
  .education .col-sm-6 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-4 {
    margin-bottom: 2%;
  }

  .education .col-sm-8 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-8 {
    margin-bottom: 5%;
  }

  .education .row:first-of-type p {
    padding: 5% 0;
  }

  .education h1 {
    padding: 58.41px 0 0 0;
    font-size: 31px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 340px;
  }

  .gallery h1 {
    padding: 50.15px 0 40px 40px;
    font-size: 2.2rem;
  }

  .gallery p,
  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 20px 0;
  }

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
    padding: 5% 0 0;
  }

  .education .col-sm-4,
  .education .col-sm-6 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-4 {
    margin-bottom: 2%;
  }

  .education .col-sm-8 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-8 {
    margin-bottom: 5%;
  }

  .education .row:first-of-type p {
    padding: 5% 0;
  }

  .education h1 {
    padding: 58.41px 0 0 0;
    font-size: 31px;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 350px;
  }

  .gallery h1 {
    padding: 50.15px 0 40px 40px;
    font-size: 2.2rem;
  }

  .gallery p,
  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 20px 0;
  }

  .equipment p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 15%;
  }

  .eq-types ul li {
    padding: 35.5px 0 0 0;
    min-height: 102px;
    font-size: 18px;
  }

  .eq-types ul li span {
    padding: 40.5px 0 40.5px 9.5%;
    font-size: 16px;
  }

  .eq-types ul .list::after {
    top: 3.2%;
  }

  .equipment h1 {
    font-size: 25px;
    padding: 18% 0 8% 0px;
  }

  .show p {
    padding: 0 0 24.5px 9.5%;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 9.5%;
  }

  .eq-types ul li::after {
    right: 10%;
    top: 44%;
  }

  .show h4 {
    padding: 0 0 30px 9.5%;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
    margin-top: 64px;
    margin-left: 20px;
  }

  .show .row:first-of-type .apparatus-img {
    margin-top: 0;
    margin-left: 32px;
    width: 88%;
    height: 198.25px;
    padding: 33.05px 21.64px 14.2px 118px;
    margin-bottom: 15%;
  }

  .show .row .apparatus-img {
    margin-bottom: 15%;
    margin-top: 0;
    margin-left: 32px;
    padding: 33.05px 21.64px 14.2px 118px;
    height: 198.25px;
    width: 88%;
  }

  .equipment {
    max-width: 327px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .hidden-eq {
    margin-top: 40.5px;
  }

  .sale-txt {
    margin-left: 11%;
  }

  .sale-txt .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .sales {
    width: 78.5%;
  }

  .sale-txt h1 {
    margin-bottom: 5%;
  }

  .sales .col-sm-4 h3 {
    font-size: 35px;
  }

  .sales .col-sm-4 p {
    font-size: 16px;
  }

  .sale-txt p {
    font-size: 16px;
    padding-bottom: 5%;
  }

  .blue-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(51, 199, 232, .7);
  }

  .sales .col-sm-4,
  .sales .col-sm-8 {
    height: 180px;
  }

  .sales img {
    height: 100%;
  }

  .green-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(119, 224, 163, .7);
  }

  .sales-desc {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .price-list li .span {
    padding: 2% 8.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 16px;
  }

  .price-list .show {
    font-size: 16px;
  }

  .price-list .span::before {
    margin-top: -7px;
    height: 36px;
  }

  .hidden-price .row:first-of-type {
    display: none;
  }

  .price-list .span::after {
    top: -53%;
    right: 10px;
    font-size: 48px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  .price-list-heading {
    /* margin-left: 11%; */
    font-size: 25px;
  }

  .list-price .span::after {
    right: 10px;
  }

  .mob-visible {
    display: inline;
    font-weight: 500;
  }

  .hidden-price .col-sm-4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .company {
    background: none;
    height: auto;
    padding-bottom: 16%;
  }

  .company-info h1 {
    text-align: center;
    margin-top: 25%;
  }

  .mission p {
    padding: 32.02px 10% 0 10%;
    font-size: 17px;
  }

  .new-history p {
    font-size: 17px;
  }

  .main-directions {
    max-width: 80%;
  }

  .main-directions h3 {
    margin-top: 20%;
  }

  .history,
  .about-otzyvy .container {
    width: 80%;
    margin-left: 10%;
  }

  .about-otzyvy .col-sm-8,
  .about-otzyvy .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-otzyvy .col-sm-4 h2 {
    text-align: center;
    margin-top: 0;
  }

  .about-otzyvy .container .container {
    margin-left: 0%;
    width: 100%;
  }

  .about-otzyvy .col-sm-8 h2 {
    text-align: center;
  }

  .about-news img {
    width: 100%;
  }

  .history-line,
  .right-bub::after,
  .his-right::after,
  .left-bub::after,
  .his-left::after {
    display: none;
  }

  .bubble:first-of-type {
    margin-top: 10%;
  }

  .company-info {
    margin-right: 10%;
    width: 80%;
  }

  .his {
    width: 100%;
  }

  .his img {
    width: 100%;
    padding: 0 15% 57px;
  }

  .contain {
    width: 100%;
  }

  .right-bub,
  .left-bub {
    float: none;
  }

  .bubble:nth-of-type(2),
  .bubble {
    margin-top: 5%;
  }

  .bubble {
    margin-left: 0;
  }

  .bubble .small {
    padding: 24px 60px 41px 62px;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 18px;
    margin-bottom: 10%;
  }

  .main-directions .col-sm-4 {
    padding: 0;
    text-align: center;
    height: 255px;
    padding-top: 16%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .speech-bubble {
    margin-top: -2%;
  }

  .category .col-sm-4 img {
    width: 100%;
  }

  .category .col-sm-4 h4 {
    font-size: 19px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20%;
  }

  .category .row {
    padding: 0 8% 5%;
  }

  .category h3 {
    padding-left: 0;
    padding-bottom: 2%;
    text-align: center;
    font-size: 34px;
  }

  .category:first-of-type h3 {
    margin-top: 20%;
    margin-bottom: 3%;
  }

  .one-doctor .col-sm-4 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .one-doctor .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .one-doctor .col-sm-8 h3 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 26px;
  }

  .one-doctor .col-sm-8 {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
  }

  .one-doctor .col-sm-8 p,
  .one-doctor .col-sm-8 h5 {
    padding-right: 0%;
    font-size: 16px;
  }

  .con-data {
    width: 100%;
    padding-left: 7%;
  }

  .contact-page .row .col-sm-4 h2 {
    margin-top: 8%;
    margin-bottom: 13%;
  }

  .contact-page .row .col-sm-4 p,
  .email-contact {
    margin: 5% 0 8%;
  }

  #map {
    height: 400px;
  }

  .contact-page {
    margin-bottom: 0;
  }

  .sale-description {
    width: 85%;
    margin-left: 9%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 25px;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 {
    padding: 0;
    max-width: 100%;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 {
    padding: 0;
  }

  .inner-sales {
    margin-left: 9%;
  }

  .company-name {
    display: none;
  }
}

/*320*/

@media screen and (max-width: 350px) and (-webkit-min-device-pixel-ratio: 1) {

  .education .row:nth-of-type(2) .col-sm-8 img,
  .education .row:nth-of-type(2) .col-sm-4 img {
    width: 100%;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    max-height: 180.13px;
    min-height: auto;
  }

  .priceWrap {
    display: none;
  }

  .mission {
    height: auto;
  }

  .mission h3 {
    padding-top: 0;
    font-size: 40px;
  }

  .doc-btn {
    position: relative;
  }

  .price-download {
    margin: 0 11% 20px;
  }

  .searchForm {
    width: 100%;
  }

  .searchData .searchName {
    margin-left: 0;
  }

  .over {
    overflow: scroll;
  }

  .social-con {
    width: 45%;
    margin-bottom: 30px;
  }

  .equip {
    display: none;
  }

  .check-show {
    overflow: scroll;
    margin-top: 20px;
  }

  .category h3::after {
    top: -40%;
  }

  .education {
    max-width: 635px;
    margin-right: 65px;
  }

  .education p {
    font-size: 16px;
    font-weight: 300;
    padding: 5% 0 0;
  }

  .education .col-sm-4,
  .education .col-sm-6 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-4 {
    margin-bottom: 2%;
  }

  .education .col-sm-8 {
    padding: 0 10%;
  }

  .education .row:nth-of-type(2) .col-sm-8 {
    margin-bottom: 5%;
  }

  .education .row:first-of-type p {
    padding: 5% 0;
  }

  .education h1 {
    padding: 58.41px 0 0 0;
    font-size: 27px;
    text-align: center;
  }

  .all-docs {
    display: none;
  }

  .mobAll-docs {
    display: block;
  }

  .mobAll-docs .row {
    display: flex;
    margin-bottom: 5%;
  }

  .category-name {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: #424242;
  }

  .cat-item {
    position: relative;
    margin-bottom: 30px;
  }

  .docs-mob {
    height: 0;
    visibility: hidden;
  }

  .doc-show {
    height: auto;
    visibility: visible;
  }

  .cat-item span {
    position: absolute;
    right: 0;
    top: 0;
  }

  .cat-item span img {
    filter: brightness(0);
    transform: rotate(180deg);
    transition: .5s;
  }

  .item-change span img {
    filter: unset;
    transform: rotate(0deg);
    transition: .5s;
  }

  .mobAll-docs .col-sm-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

  .category-head {
    margin: 20px 0;
  }

  .cat-list {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .mobAll-docs .col-sm-6 img {
    max-width: 100%;
    max-height: 130px;
    min-height: 130px;
  }

  .doc-name {
    min-height: 48px;
  }

  .doc-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 0 7px;
    width: 100%;
  }

  .gallery .row .col-sm-8 img,
  .gallery .row .col-sm-4 img {
    width: 100%;
  }

  .gallery .container {
    max-width: 300px;
  }

  .gallery h1 {
    padding: 50.15px 0 40px 30px;
    font-size: 2rem;
  }

  .gallery p,
  .gallery .row:first-of-type .col-sm-4 p:first-of-type {
    padding: 17.69px 0 20px 0;
  }

  .equipment p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 15%;
  }

  .checkup {
    margin: 55px auto 12px;
    padding: 0;
    width: 80%;
  }

  .checkup-item {
    position: relative;
    padding: 9px 0px 10px 0;
  }

  .check-arrow {
    position: absolute;
    right: 0;
    top: 10px;
    display: block;
  }

  .checkup-item--active {
    background: transparent;
  }

  .check-arrow img {
    transform: rotate(180deg);
    filter: brightness(0);
    transition: .5s;
  }

  .checkup-item--active .check-arrow img {
    transform: rotate(0deg);
    filter: unset;
    transition: .5s;
  }

  .checkup .col-sm-6:last-of-type {
    display: none;
  }

  .checkup-name {
    display: none;
  }

  .checkup-txt {
    width: 100%;
  }

  .checkup-info {
    margin-top: 30px;
    width: 100%;
  }

  .eq-types ul li {
    padding: 35.5px 0 0 0;
    min-height: 102px;
    font-size: 18px;
  }

  .eq-types ul li span {
    padding: 40.5px 0 40.5px 8.5%;
    font-size: 16px;
  }

  .eq-types ul .list::after {
    top: 3%;
    right: 2%;
  }

  .equipment h1 {
    font-size: 25px;
    padding: 18% 0 8% 0px;
  }

  .show p {
    padding: 0 0 24.5px 8.5%;
  }

  .show .row:first-of-type h4 {
    padding: 80.95px 0 30px 8.5%;
  }

  .eq-types ul li::after {
    right: 3%;
    top: 44%;
  }

  .show h4 {
    padding: 0 0 30px 8.5%;
  }

  .show .row .apparatus-img {
    padding: 18.05px 39.64px 14.2px 34px;
    margin-top: 64px;
    margin-left: 20px;
  }

  .show .row:first-of-type .apparatus-img {
    margin-top: 0;
    margin-left: 24px;
    width: 88%;
    height: 198.25px;
    padding: 33.05px 21.64px 14.2px 79px;
    margin-bottom: 15%;
  }

  .show .row .apparatus-img {
    margin-bottom: 15%;
    margin-top: 0;
    margin-left: 24px;
    padding: 33.05px 21.64px 14.2px 79px;
    height: 198.25px;
    width: 88%;
  }

  .equipment {
    max-width: 295px;
  }

  .hidden-eq .row {
    width: 100%;
  }

  .hidden-eq {
    margin-top: 40.5px;
  }

  .sale-txt {
    margin-left: 11%;
  }

  .sale-txt .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .sales {
    width: 78.5%;
  }

  .sale-txt h1 {
    margin-bottom: 5%;
    font-size: 30px;
  }

  .sales .col-sm-4 h3 {
    font-size: 35px;
  }

  .sales .col-sm-4 p {
    font-size: 16px;
  }

  .sale-txt p {
    font-size: 16px;
    padding-bottom: 5%;
  }

  .blue-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(51, 199, 232, .7);
  }

  .sales .col-sm-4,
  .sales .col-sm-8 {
    height: 180px;
  }

  .sales img {
    height: 100%;
  }

  .green-back {
    position: absolute;
    height: 123.92px;
    z-index: 1;
    width: 78.5%;
    background-color: rgba(119, 224, 163, .7);
  }

  .sales-desc {
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .price-list li .span {
    padding: 2% 3.5%;
  }

  .price-list li,
  .list-price .span {
    font-size: 15px;
  }

  .price-list .show {
    font-size: 15px;
  }

  .price-list .span::before {
    margin-top: -6px;
    height: 32px;
  }

  .hidden-price .row:first-of-type {
    display: none;
  }

  .price-list .span::after {
    top: -62%;
    right: 8px;
    font-size: 48px;
  }

  .price-list {
    width: 77%;
    margin-left: 11%;
  }

  .price-list-heading {
    /* margin-left: 11%; */
    font-size: 21px;
  }

  .list-price .span::after {
    right: 8px;
  }

  .mob-visible {
    display: inline;
    font-weight: 500;
  }

  .hidden-price .col-sm-4 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .company {
    background: none;
    height: auto;
    padding-bottom: 16%;
  }

  .company-info h1 {
    text-align: center;
    margin-top: 25%;
  }

  .mission p {
    padding: 32.02px 10% 0 10%;
    font-size: 17px;
  }

  .new-history p {
    font-size: 17px;
  }

  .main-directions {
    max-width: 80%;
  }

  .main-directions h3 {
    margin-top: 20%;
  }

  .history,
  .about-otzyvy .container {
    width: 80%;
    margin-left: 10%;
  }

  .about-otzyvy .col-sm-8,
  .about-otzyvy .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-otzyvy .col-sm-4 h2 {
    text-align: center;
    margin-top: 0;
  }

  .about-otzyvy .container .container {
    margin-left: 0%;
    width: 100%;
  }

  .about-otzyvy .col-sm-8 h2 {
    text-align: center;
  }

  .about-news img {
    width: 100%;
  }

  .history-line,
  .right-bub::after,
  .his-right::after,
  .left-bub::after,
  .his-left::after {
    display: none;
  }

  .bubble:first-of-type {
    margin-top: 10%;
  }

  .company-info {
    margin-right: 10%;
    width: 80%;
  }

  .his {
    width: 100%;
  }

  .his img {
    width: 100%;
    padding: 0 15% 57px;
  }

  .contain {
    width: 100%;
  }

  .right-bub,
  .left-bub {
    float: none;
  }

  .bubble:nth-of-type(2),
  .bubble {
    margin-top: 5%;
  }

  .bubble {
    margin-left: 0;
  }

  .bubble .small {
    padding: 24px 33px 60px 33px;
  }

  .main-directions .col-sm-4:not(:last-of-type) {
    margin-right: 18px;
    margin-bottom: 10%;
  }

  .main-directions .col-sm-4 {
    padding: 0;
    text-align: center;
    height: 255px;
    padding-top: 16%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .speech-bubble {
    margin-top: -2%;
  }

  .client-info {
    padding-left: 22%;
    margin-left: 4%;
  }

  .history h3 {
    margin-top: 30%;
    margin-bottom: 17%;
  }

  .big {
    padding: 24px 33px 60px 33px;
  }

  .category .col-sm-4 img {
    width: 100%;
  }

  .category .col-sm-4 h4 {
    font-size: 19px;
  }

  .category .col-sm-4 button {
    height: 48px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20%;
  }

  .category .row {
    padding: 0 8% 5%;
  }

  .category h3 {
    padding-left: 0;
    padding-bottom: 2%;
    text-align: center;
    font-size: 34px;
  }

  .category:first-of-type h3 {
    margin-top: 20%;
    margin-bottom: 3%;
  }

  .one-doctor .col-sm-4 img {
    width: 100%;
    height: 247.9px;
    margin-bottom: 30px;
  }

  .one-doctor .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
  }

  .one-doctor .col-sm-8 h3 {
    text-align: center;
    margin-bottom: 15%;
    font-size: 23px;
  }

  .one-doctor .col-sm-8 {
    flex: 0 0 100%;
    padding: 0;
    max-width: 100%;
  }

  .one-doctor .col-sm-8 p,
  .one-doctor .col-sm-8 h5 {
    padding-right: 0%;
    font-size: 16px;
  }

  .con-data {
    width: 100%;
    padding-left: 7%;
  }

  .contact-page .row .col-sm-4 h2 {
    margin-top: 8%;
    margin-bottom: 13%;
  }

  .contact-page .row .col-sm-4 p,
  .email-contact {
    margin: 5% 0 8%;
  }

  #map {
    height: 400px;
  }

  .contact-page {
    margin-bottom: 0;
  }

  .sale-description {
    width: 85%;
    margin-left: 9%;
  }

  .sale-description .col-sm-8 h3 {
    font-size: 21px;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 span {
    font-size: 14px;
  }

  .sale-description .col-sm-8 p {
    font-size: 16px;
  }

  .sale-description .col-sm-4 {
    padding: 0;
    max-width: 100%;
    margin-top: 15%;
  }

  .sale-description .col-sm-8 {
    padding: 0;
  }

  .inner-sales {
    margin-left: 9%;
  }

  .company-name {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1500px) and (min-width: 1401px) {
  .company-name {
    bottom: 125px;
  }
}
