.price {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 75px;
}

.price__txt-wrp {
  padding-left: 50px;
}

.price__txt-wrp p {
  line-height: 1.2;
  max-width: 290px;
  font-weight: 300;
  color: #818181;
  font-size: 18px;
}

.price__txt-wrp a {
  line-height: 1.2;
  color: #3E7379;
  font-weight: 300;
  text-decoration: underline;
  font-size: 18px;
}

.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.price__nav-wrp {
  width: 26%;
}

.price__content {
  width: 74%;
  padding-left: 100px;
}

.price__tab {
  max-width: 850px;
  display: none;
}

.price__tab:first-child {
  display: block;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.price__heading {
  color: #818181;
  font-size: 18px;
}

.price__service,
.price__procedure,
.price__cost {
  font-size: 18px;
}

.price__col {
  width: 50%;
}

.price__col:nth-child(2),
.price__col:nth-child(3) {
  width: 25%;
}

.price__list {
  background-color: #3E9199;
  padding: 15px 0;
  margin-bottom: 0;
  height: 715px;
  overflow: hidden;
}

.price__list--open {
  height: auto;
}

.price__item {
  padding: 15px 0;
  padding-left: 50px;
  color: white;
  font-size: 18px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}

.price__item--current {
  background-color: #3E7379;
}

.price__item:hover {
  background-color: #3E7379;
}

.price__more {
  padding: 15px 0;
  background-color: #3E7379;
  text-align: center;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.price__search-wrp {
  background-color: #3E7379;
  position: relative;
}

.price__srch {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px 0;
  padding-left: 50px;
  color: white;
}

.price__srch::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.price__srch:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.price__srch::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.price__srch::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.price__srch-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.price__content-mobile {
  display: none;
}

.price__bck-icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  left: 0;
}

.price__bck-icon img {
  width: 25px;
}

.price__header {
  background: #3E7379;
  position: relative;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__head {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.price__name {
  color: #3C3C3C;
  font-size: 17px;
  font-weight: 300;
}

.price__row-mobile {
  padding: 22px 38px 10px 28px;
  border-bottom: 1px solid #F2F2F2;
}

.price__row-mobile div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__procedure-mobile {
  color: #3E7379;
  font-size: 17px;
  font-weight: 300;
}

.price__cost-mobile {
  color: #3E7379;
  font-size: 17px;
  font-weight: 300;
}

@media screen and (max-width: 1367px) {
  .price {
    max-width: 1135px;
  }
  .price__item,
  .price__srch,
  .price__more,
  .price__heading,
  .price__service,
  .price__procedure,
  .price__cost {
    font-size: 14px;
  }
  .price__list {
    height: 615px;
  }
  .price__txt-wrp p {
    font-size: 16px;
  }
  .price__srch-icon {
    right: 15px;
  }
}

@media screen and (max-width: 1281px) {
  .price {
    max-width: 1135px;
  }
  .price__item,
  .price__srch,
  .price__more,
  .price__heading,
  .price__service,
  .price__procedure,
  .price__cost {
    font-size: 14px;
  }
  .price__list {
    height: 615px;
  }
  .price__txt-wrp p {
    font-size: 16px;
  }
  .price__srch-icon {
    right: 15px;
  }
}

@media screen and (max-width: 1025px) {
  .price {
    max-width: 94%;
  }
  .price__item,
  .price__srch,
  .price__more,
  .price__heading,
  .price__service,
  .price__procedure,
  .price__cost {
    font-size: 14px;
  }
  .price__srch,
  .price__item {
    padding-left: 20px;
  }
  .price__srch-icon {
    right: 10px;
  }
  .price__srch-icon svg {
    max-width: 19px;
  }
  .price__content {
    padding-left: 60px;
  }
  .price__txt-wrp {
    padding-left: 30px;
  }
  .price__list {
    height: 615px;
  }
  .price__txt-wrp p {
    font-size: 16px;
  }
}

@media screen and (max-width: 769px) {
  .price {
    max-width: 96%;
  }
  .price__item,
  .price__srch,
  .price__more,
  .price__heading,
  .price__service,
  .price__procedure,
  .price__cost {
    font-size: 14px;
  }
  .price__srch,
  .price__item {
    padding-left: 20px;
  }
  .price__srch-icon {
    right: 10px;
  }
  .price__srch-icon svg {
    max-width: 19px;
  }
  .price__content {
    padding-left: 20px;
  }
  .price__txt-wrp {
    padding-left: 30px;
  }
  .price__list {
    height: 615px;
  }
  .price__txt-wrp p {
    font-size: 16px;
  }
  .price__nav-wrp {
    width: 38%;
  }
}

@media screen and (max-width: 415px) {
  .price {
    max-width: 96%;
    margin-bottom: 39px;
  }
  .price__item,
  .price__srch,
  .price__more,
  .price__heading,
  .price__service,
  .price__procedure,
  .price__cost {
    font-size: 14px;
  }
  .price__srch,
  .price__item {
    padding-left: 20px;
  }
  .price__srch-icon {
    right: 10px;
  }
  .price__srch-icon svg {
    max-width: 19px;
  }
  .price__content {
    display: none;
  }
  .price__txt-wrp {
    padding-left: 30px;
  }
  .price__list {
    height: 615px;
  }
  .price__txt-wrp p {
    font-size: 16px;
  }
  .price__nav-wrp {
    width: 100%;
  }
  .price__inner {
    display: block;
  }
}

.carier .container {
  max-width: 72.5%;
}

.carier__gray {
  background: #F8F8F8;
  padding: 115px 0;
}

.carier__pic {
  margin-top: 20px;
}

.carier__head {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3C;
}

.carier__text {
  font-size: 20px;
  font-weight: 300;
  color: #3C3C3C;
  margin-top: 40px;
}

.carier__gray--img {
  padding-left: 7%;
  padding-right: 14.5%;
}

.carier .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carier__white {
  padding: 115px 0;
}

.carier__colLink {
  border-left: 1px solid #D6D6D6;
  padding: 85px 0 85px 85px;
}

.carier__link {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #3E9199;
}

.carier__link:hover, .carier__link:focus {
  color: #3E9199;
  text-decoration: none;
  outline: none;
}

.carier__step {
  padding-right: 79px;
}

.carier__name {
  font-size: 77px;
  font-weight: 600;
  color: #3E9199;
  border-right: 1px solid #D6D6D6;
  padding: 23px 0;
}

.carier__stepRow {
  padding-top: 80px;
}

.carier__text--step {
  margin: 0;
}

.carier__bck {
  background: url("../images/carier__bck.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carier__bck .carier__head, .carier__bck .carier__text {
  color: #fff;
}

.vacancy {
  max-width: 72.5%;
  padding: 115px 0 0;
}

.vacancy__proffesions {
  margin-top: 110px;
}

.vacancy__proff {
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

.vacancy__div {
  margin-bottom: 90px;
}

.vacancy__proff--color {
  -webkit-transition: .6s;
  transition: .6s;
  border-color: #00665D;
}

.vacancy__gray {
  font-size: 18px;
  font-weight: 300;
  color: #9B9B9B;
  cursor: pointer;
}

.vacancy__black {
  font-size: 20px;
  font-weight: 600;
  color: #262626;
  cursor: pointer;
}

.vacancy__arrow {
  background: url("../images/vacancy__arrow.png") no-repeat;
  width: 1%;
  height: auto;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  background-position-y: 40%;
}

.vacancy__arrow--color {
  background: url("../images/vacancy__arrow--color.png") no-repeat;
  width: 1.5%;
  height: auto;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  background-position-y: 40%;
}

.vacancy__desc {
  padding-left: 90px;
  display: none;
  width: 70%;
}

.vacancy__title {
  font-size: 20px;
  font-weight: 600;
  color: #3E9199;
  margin: 40px 0 32px;
}

.vacancy__list {
  padding-left: 18px;
  list-style-type: disc;
}

.vacancy__list li {
  color: #3E9199;
  font-size: 30px;
  line-height: 22px;
}

.vacancy__text {
  font-size: 20px;
  font-weight: 300;
  color: #3C3C3C;
  padding-left: 10px;
}

.vacancy__button {
  background: #3E7379;
  border: none;
  height: 60px;
  width: 222px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-top: 66px;
}

.vacancy__attach {
  display: inline;
  margin-left: 30px;
}

.vacancy__attach p {
  font-size: 18px;
  font-weight: 300;
  color: #6A6A6A;
  display: inline;
  cursor: pointer;
  text-decoration: underline;
}

.vacancy__attach input {
  opacity: 0;
  width: 0;
  position: relative;
  z-index: 3;
}

.vacancy__mobButton {
  display: none;
  padding: 10px 30px;
  color: #fff;
  background-color: #9d9d9d;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  border: none;
  font-weight: 300;
}

@media screen and (max-width: 1700px) {
  .carier .container, .vacancy {
    max-width: 76.5%;
  }
  .carier__gray--img {
    padding-left: 5%;
    padding-right: 9.5%;
  }
}

@media screen and (max-width: 1500px) {
  .carier .container, .vacancy {
    max-width: 84.5%;
  }
  .carier__pic {
    max-width: 90%;
  }
  .carier__head {
    font-size: 26px;
  }
  .carier__text {
    font-size: 18px;
  }
  .vacancy__proff {
    width: 75%;
  }
  .vacancy__text {
    font-size: 18px;
  }
  .carier__name {
    font-size: 70px;
  }
  .carier__gray, .carier__white {
    padding: 90px 0;
  }
  .vacancy {
    padding-top: 90px;
  }
  .carier__gray--img {
    padding-left: 5%;
    padding-right: 9.5%;
  }
  .vacancy__proffesions {
    margin-top: 90px;
  }
}

@media screen and (max-width: 1300px) {
  .carier .container, .vacancy {
    max-width: 89.5%;
  }
  .carier__gray--img {
    padding-left: 3%;
    padding-right: 7.5%;
  }
}

@media screen and (max-width: 1100px) {
  .carier .container, .vacancy {
    max-width: 100%;
  }
  .carier__bck {
    height: 55vh;
  }
  .carier__gray--img {
    padding-left: 0;
    padding-right: 0;
  }
  .carier__head {
    font-size: 22px;
  }
  .carier__text, .vacancy__gray, .vacancy__text {
    font-size: 16px;
  }
  .carier__link {
    font-size: 24px;
  }
  .carier__colLink {
    padding: 50px 0 50px 35px;
  }
  .carier__name {
    font-size: 60px;
  }
  .carier__step {
    padding-right: 50px;
  }
  .carier__gray, .carier__white {
    padding: 70px 0;
  }
  .vacancy {
    padding: 70px 15px 0;
  }
  .vacancy__proff, .vacancy__desc {
    width: 85%;
  }
  .vacancy__proffesions {
    margin-top: 70px;
  }
  .vacancy__black, .vacancy__title {
    font-size: 18px;
  }
  .vacancy__list li {
    line-height: 18px;
  }
  .vacancy__button {
    height: 46px;
    width: 160px;
    font-size: 16px;
    margin-top: 40px;
  }
  .vacancy__attach p {
    font-size: 16px;
  }
  .vacancy__div {
    margin-bottom: 75px;
  }
  .carier__stepRow {
    padding-top: 60px;
  }
}

@media screen and (max-width: 801px) {
  .carier__bck {
    height: 40vh;
  }
  .carier__text {
    margin-top: 20px;
  }
  .carier__link {
    font-size: 20px;
  }
  .carier__name {
    font-size: 42px;
  }
  .carier__step {
    padding-right: 35px;
  }
  .vacancy__proff, .vacancy__desc {
    width: 95%;
  }
}

@media screen and (max-width: 651px) {
  .carier .row {
    display: block;
  }
  .carier .col-sm-6, .carier .col-sm-7 {
    max-width: 100%;
  }
  .carier__gray, .carier__white {
    padding: 50px 20px;
  }
  .carier__pic {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .carier__colLink {
    padding: 0 15px;
    border: none;
  }
  .carier__stepRow {
    padding-top: 30px;
  }
  .carier__step {
    padding-right: 15px;
    max-width: 100%;
  }
  .carier__name {
    font-size: 35px;
    padding: 15px 0;
    border: none;
  }
  .vacancy {
    padding: 50px 15px 0;
  }
  .vacancy__div {
    margin-bottom: 50px;
  }
  .vacancy__proffesions {
    margin-top: 50px;
  }
  .vacancy__desc {
    padding-left: 15px;
  }
  .vacancy__arrow--color {
    width: 2.5%;
  }
  .vacancy__button {
    height: 37px;
    width: 145px;
    margin-top: 30px;
  }
  .vacancy__info {
    width: 50%;
  }
  .vacancy__info:first-of-type {
    width: 100%;
  }
  .vacancy__info:first-of-type .vacancy__black {
    font-size: 24px;
  }
  .vacancy__proff {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vacancy__arrow {
    display: none;
  }
  .vacancy__mobButton {
    display: block;
    margin-bottom: 30px;
  }
  .carier__bck {
    height: auto;
    background: transparent;
    padding: 30px 0;
  }
  .carier__bck .carier__head, .carier__bck .carier__text {
    color: #3C3C3C;
  }
}
