* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**********My CSS*********/

.desc ul,
.desc p {
  color: #757575;
  font-size: 16px;
  line-height: 29px;
  text-align: left;
  font-weight: 100;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  height: 688.96px;
  background-color: #fff;
}

.pack-side {
  display: none;
}

.comm {
  display: none;
}

.pack-page .image-packets {
  height: 345.7px;
}

.category-container .desc .text-img div,
.category-container .desc .text-img span {
  font-weight: 200;
  font-size: 11pt;
  font-family: Calibri, sans-serif !important;
  line-height: 1.8;
  color: #000;
}

.category-container .desc .text-img p {
  font-weight: 200 !important;
  font-size: 11pt !important;
  margin: 0cm 0cm 10pt !important;
  font-family: Calibri, sans-serif;
  text-indent: 0 !important;
}

.category-container .desc .text-img ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.category-container .desc .text-img li {
  font-weight: 200 !important;
  text-indent: 0;
  font-size: 11pt !important;
  padding-left: 0 !important;
  font-family: "Calibri", sans-serif !important;
}

.category-container .desc .text-img li:before {
  content: "·";
  font-size: 55px;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 30px;
}

.depWrap {
  border: 1px solid #40919A;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 65px;
}

.department {
  margin-top: 50px;
}

.department .col-sm-2 {
  display: flex;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.department .col-sm-2 img {
  height: 70%;
}

.department .row {
  /*justify-content: space-between;*/
  margin-bottom: 20px;
}

.department .row:last-of-type {
  margin-bottom: 0;
}

.dep-name {
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-weight: 300;
  color: #40919A;
  margin: 5px 0 0 15px;
}

.dep-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  margin-right: 2.5%;
}

.dep-link:hover {
  text-decoration: none;
  transition: 0.5s;
}

.dep-link:hover .depWrap {
  background: #40919A;
  transition: 0.5s;
}

.dep-link:hover .depWrap img {
  filter: brightness(0) invert(1);
  transition: 0.5s;
}

.category-container {
  max-width: 1440px !important;
  margin-top: 6.2%;
}

.category-row {
  width: 90%;
  margin-left: 10.8%;
}

.cat-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(65, 145, 154, .43);
}

.slider-cat {
  position: relative;
}

.zvonok {
  background-color: rgba(119, 224, 163, 0.15);
  width: 121%;
  padding: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  display: none;
}

.input-zvon {
  border: none;
  border-radius: 5px;
  width: 60%;
  height: 55px;
  padding: 4%;
  font-weight: 100;
  margin-top: 4%;
}

.text-img {
  margin-bottom: 10%;
  flex-direction: column;
}

.MsoNormalTable {
  width: 100% !important;
}

.text-img img {
  margin-top: 7%;
}

.spec {
  background-color: #FBFBFB;
  border-radius: 5px;
  width: 260px;
  height: auto;
  padding: 10%;
  padding-top: 15%;
  margin-top: 20%;
}

.spec-type h2 {
  font-size: 1.2rem;
  color: #303030;
  margin-bottom: 15%;
  font-weight: 600;
}

.spec-type a {
  font-size: 1rem;
  color: #757575;
  display: block;
  font-weight: 100;
  line-height: 30px;
}

#zakazat {
  background-color: #A7D9BB;
  border: none;
  height: 55px;
  color: #fff;
  cursor: pointer;
  width: 22%;
  margin-left: 3%;
  border-radius: 5px;
}

#zakaz-form {
  margin-top: 8%;
}

.news-zvon,
.pack-zvon {
  width: 100%;
}

.speech-bubble {
  position: relative;
  background: #FAFAFA;
  border-radius: .4em;
  width: 735px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0.6%;
  left: 3%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #FAFAFA;
  border-top: 0;
  margin-left: 0;
  margin-top: -20px;
}

.contain {
  margin-left: 0%;
  margin-top: 1%;
}

.zakaz-headers,
.zakaz-text {
  font-size: 18px;
  width: 86%;
  color: #414141;
  line-height: 23px;
}

.zakaz-text {
  font-weight: 300;
}

.social {
  margin-top: 5%;
  width: 100%;
  margin-left: -3%;
}

.heading {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-top: 0px;
  max-width: 30%;
}

.heading p {
  color: #303030;
  font-weight: 300;
}

.icons {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  margin-left: -2%;
}

.otzyv-row {
  width: 100%;
}

.all-otzyv {
  padding: 10%;
  padding-right: 2%;
}

.client-otzyv {
  *padding-top: 5%;
  margin-right: 15%;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
}

.client-attached {
  *padding: 10%;
  padding-top: 10%;
  margin-right: 5%;
}

.client-attached .col-sm-4 {
  padding-left: 0;
}

.client-info {
  margin-left: -5%;
  margin-top: 1%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.client-info .name {
  font-size: 20px;
  font-weight: 500;
  color: #494949;
}

.client-info .main-info {
  font-size: 14px;
}

.main-info {
  color: #9B9B9B;
}

.social {
  margin-bottom: 100px;
}

.text-img div:nth-of-type(2) {
  margin-bottom: 50px;
}

.client-photo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.client {
  margin-top: 15%;
}

.packet-name {
  margin-left: -50%;
  margin-top: 25%;
  color: #fff;
  width: 20%;
  text-align: center;
}

.pack-page .row {
  width: 100%;
}

.packet-type:hover a {
  text-decoration: none;
}

.desc .under-photo {
  font-weight: 400;
  color: #424242;
  margin: 2%;
  margin-bottom: 7%;
}

.desc {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62%;
  flex: 0 0 62%;
  max-width: 62%;
  margin-left: -1.5%;
  /*overflow: hidden;*/
}

.sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
  margin-left: 4%;
  margin-top: -1%;
  margin-bottom: 100px;
}

.desc .container .row ul {
  padding-left: 0;
  margin-top: 3%;
  margin-bottom: 7%;
}

.main-img {
  width: 100%;
}

.desc .container .row ul li {
  margin: 0;
}

.news-soc {
  margin-bottom: 100px;
}

.see {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 35%;
}

.forma-otzyv .files .inputfile+label {
  width: 14%;
  padding-left: 2%;
  padding-top: 0.8%;
  margin-top: -0.5%;
  margin-left: 26%;
  border: none;
  background-color: #EDEDED;
  font-weight: 200;
}

.forma-otzyv .txt-label {
  margin-left: 21%;
  margin-top: -6%;
}

.base-info {
  width: 101%;
  height: 60.26px;
  border-style: solid;
  border-radius: 5px;
  border-color: #B5B5B5;
  box-shadow: none;
  opacity: 0.8;
  font-weight: 100;
  padding: 5%;
  border-width: thin;
}

.base-info:hover {
  border-color: #A8DCE3;
}

.review {
  margin-top: 14.5%;
}

.review .container .row h2 {
  color: #535353;
  font-size: 2rem;
}

.review .container .row p {
  margin-top: 3%;
  color: #4A4A4A;
  margin-bottom: 7%;
  width: 66%;
  font-weight: 100;
}

.otzyv-attach .inputfile+label {
  background-color: #EDEDED;
  padding-left: 3%;
  font-weight: 100;
  color: #606060;
  padding-top: 0.8%;
  width: 16%;
  border-color: #EDEDED;
  margin-top: -0.5%;
  margin-left: 21.5%;
}

.otzyv-attach .inputfile+label:hover {
  border-color: #33C7E8;
  color: #33C7E8;
}

#zakazat:hover {
  background-color: #63DB95;
}

.otzyv-attach #label-text {
  font-weight: 100;
  margin-left: -37.5%;
}

}

.text-con {
  margin-top: 3%;
  margin-bottom: 5%;
}

.del-line {
  margin-left: -2%;
}

.otzyv-attach textarea {
  width: 1115px;
  height: 221.12px;
  color: #8A8A8A;
  font-weight: 100;
  margin-left: 0;
  border-radius: 5px;
  border-color: #B5B5B5;
  opacity: 0.8;
  padding: 2%;
  padding-top: 3%;
  margin-bottom: 5%;
}

.forma-otzyv #makeReg {
  margin-left: 2%;
  margin-top: 10%;
  margin-bottom: 15%;
}

.otzyv-attach textarea:hover {
  border-color: #A8DCE3;
}

.packet-type {
  margin-left: 5.5%;
  margin-top: 20%;
}

.spec-type {
  margin-left: 1.5%;
}

.forma-otzyv .row .col-sm-6 {
  padding-left: 0;
}

.see a {
  color: #494949;
}

.second {
  margin-left: 3%;
}

.nav-side-menu {
  overflow: unset;
  font-size: 15px;
  line-height: 49px;
  background-color: #fff;
  position: relative;
  top: 9px;
  width: 300px;
  left: 10px;
  color: #494949;
}

/*
.nav-side-menu .toggle-btn {
  display: none;
}*/

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.no-toggle a {
  padding-left: 0;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #fff;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #33C7E8;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #33C7E8;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  margin-left: 0px;
}

/*.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #fff;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before{
  
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/

.nav-side-menu li {
  padding-left: 0px;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #494949;
  font-weight: 600;
}

.nav-side-menu .hidden-menu,
.nav-side-menu .hidden-menu li {
  padding-left: 5%;
  height: 0;
  transition: 0.6s;
  overflow: hidden;
}

.nav-side-menu .sezam,
.nav-side-menu .sezam li {
  height: auto;
  transition: .9s;
}

.nav-side-menu .no-toggle {
  padding-left: 5%;
}

.nav-side-menu .sezam li:not(:first-of-type) a {
  /*transition-delay: .5s;*/
}

.hidden-menu li a {
  color: #7E7E7E;
  font-weight: 300;
  font-size: 18px;
  opacity: 0;
  transition: .5s;
}

.sezam li a {
  opacity: 1;
}

.drop-item {
  position: relative;
}

.plus {
  display: inline-block;
  transform: translate(0, -2px);
}

.plus div {
  width: 10px;
  height: 2px;
  position: relative;
  background-color: #38D57A;
}

.plus div:first-of-type {
  transform: rotate(90deg);
  transition: .5s;
}

.plus div:last-of-type {
  transform: translate(0, -2px);
  transition: .5s;
}

.minus div:first-of-type {
  transform: rotate(0deg);
}

.minus div:last-of-type {
  opacity: 0;
}

.mob-img {
  display: none;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border: none;
}

.nav-side-menu li:hover {
  background-color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #494949;
    color: #000;
    width: 40px;
    text-align: center;
  }
}

body {
  margin: 0px;
  padding: 0px;
}

/****slider****/

.slider-cat {
  height: 408px;
}

.slider-header {
  position: relative;
  width: 30%;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  left: 35%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.slider-heading {
  position: relative;
  width: 30%;
  top: -232px;
  left: 35%;
  color: #fff;
  z-index: 1;
  text-align: center;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*******slider*****/

.news-menu {
  border-bottom: solid #DEDEDE thin;
}

.pack-head-txt {
  color: #292929;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 8.2%;
}

.pack-parag-txt {
  color: #2B2B2B;
}

.packets {
  background-color: #fff;
  background-image: none;
  height: auto;
}

.card-text {
  background-color: #FAFAFA;
  height: 61px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  background: transparent;
  top: 41.5%;
  background-color: #33C7E8;
  left: 50%;
  width: 527px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 345.7px;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  background: transparent;
  top: 39.5%;
  background-color: #33C7E8;
  left: 50%;
  width: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 79%;
}

.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  background: transparent;
  top: 44.5%;
  background-color: #33C7E8;
  left: 50%;
  width: 92.4%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 73.5%;
}

.packs-overlay .pack-item:hover .middle3 {
  opacity: 0.6;
}

.packs-overlay .pack-item:hover .middle3 .cont {
  opacity: 1;
}

.packs-overlay .pack-item:hover .middle2 {
  opacity: 0.6;
}

.packs-overlay .pack-item:hover .middle2 .cont {
  opacity: 1;
}

.pack_call {
  font-size: 1.5rem;
  color: #49493D;
  margin-top: -11%;
}

.packs-overlay .pack-item .middle2 .cont {
  background-color: transparent;
  color: white;
  width: 30%;
  padding-top: 35%;
  margin-left: 38%;
}

.packs-overlay .pack-item .middle3 .cont {
  background-color: transparent;
  color: white;
  width: 30%;
  padding-top: 27%;
  margin-left: 33%;
}

.rody {
  margin-left: -4%;
}

.pack_call2 {
  font-size: 1.5rem;
  color: #757575;
  margin-top: 10%;
  margin-left: -15px;
}

.pack-rody {
  margin-left: -27px;
  margin-right: -25px;
}

.card-text2 {}

.cont {
  background-color: transparent;
  color: white;
  width: 20%;
  padding-top: 35%;
  margin-left: 38%;
}

.pack-def {
  height: 70px;
}

.pack-def2 {
  height: 60px;
}

.pack-item a:hover {
  text-decoration: none;
}

.packs-overlay .pack-item:hover .middle {
  opacity: 0.6;
}

.packs-overlay .pack-item:hover .middle .cont {
  opacity: 1;
}

.del-line2 {
  width: 77%;
  margin-left: 11.5%;
  margin-top: 5%;
  height: 1px;
}

.heading2 p {
  color: #303030;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 28.5%;
}

.icons2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 12%;
  margin-left: -20%;
}

.zvonok2 {
  background-color: rgba(119, 224, 163, 0.15);
  width: 75.5%;
  padding: 5%;
  margin-top: 5%;
  margin-left: 12.2%;
  margin-bottom: 10%;
  border-radius: 5px;
  display: none;
}

.zvonok2 #zakaz-form {
  margin-top: 0;
}

.zvonok2 .zakaz-text {
  margin-top: 6%;
  font-size: inherit;
}

.zakaz-headers2 {
  font-weight: 700;
  font-size: 18px;
  width: 86%;
  color: #414141;
  line-height: 23px;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}

.input-zvon2 {
  width: 68%;
  border: none;
  border-radius: 5px;
  height: 55px;
  padding: 4%;
  font-weight: 300;
  margin-top: 4%;
}

#zakazat2 {
  background-color: #A7D9BB;
  border: none;
  height: 55px;
  color: #fff;
  cursor: pointer;
  width: 27%;
  margin-left: 3%;
  border-radius: 5px;
}

/*******NEWS**************/

/*******PAGINATION********/

.pagination {
  padding-top: 3%;
  padding-left: 25%;
  margin-bottom: 3%;
}

.pagination a {
  color: #4A4A4A;
  float: left;
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
  height: auto;
  margin-left: 2%;
  width: 5%;
  background-color: #F7F7F7;
}

.pagination a img {
  width: 70%;
}

.pagination a.active {
  background-color: #33C7E8;
  color: white;
  margin-bottom: 0;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/*******PAGINATION********/

.news-1 .packs-overlay {
  margin-left: -2%;
  margin-top: 0;
}

.news-1 .packs-overlay h1 {}

.news-1 .packs-overlay .small,
small {
  font-size: 80%;
  font-weight: 400;
  color: #AEAEAE;
  margin-bottom: 10%;
}

.news-1 .row img {
  margin: 7% auto 0;
}

.news-1-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 19%;
  margin-left: 10%;
  margin-top: 4%;
}

#left,
#right {
  /*display: none;*/
  z-index: 2;
}

.comm .forma-otzyv {
  margin-top: 5%;
}

.news a:hover,
.news-1-side a:hover {
  text-decoration: none;
  color: #33C7E8;
}

.news-heading {
  margin-top: 8%;
  margin-bottom: 5%;
}

.text-muted {
  color: #AEAEAE !important;
}

.medium {
  font-size: 90%;
  font-weight: 400;
}

.caption {
  margin-top: 6%;
  margin-bottom: 15%;
}

/*******NEWS**************/

@media only screen and (min-width:1700px) and (max-width: 1940px) {
  .category-row {
    width: 120%;
    margin-left: -2.7%;
  }

  .slider-cat {
    height: 544px;
  }

  .pack-page .image-packets {
    height: 463.7px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .dep-name {
    margin: 5px 0 0 20px;
  }

  .department .container {
    max-width: 1550px;
  }

  .news-1 .packets .container {
    max-width: 100%;
  }

  .news-1-side {
    margin-top: 0%;
  }

  .news-1-side a p {
    font-size: 20px;
  }

  .pack_call {
    font-size: 2rem;
  }

  .card-text {
    padding-top: 4%;
  }

  .pack-head-txt {
    margin-top: 16.2%;
  }

  .news-zvon {
    width: 100%;
  }

  .icons2 {
    margin-left: -18%;
  }

  .news-soc {
    width: 100%;
    margin-left: -3.5%;
  }

  .mob-img {
    width: 989px;
    height: 520px;
  }

  .pack-1 {
    max-width: 100% !important;
  }

  .pack-1 .card-text {
    height: 79px;
  }

  .middle3 {
    width: 94.5%;
    height: 78%;
    top: 42.5%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 26%;
    padding-top: 29%;
    margin-left: 36%;
  }

  .news-1 .packs-overlay .small,
  small {
    font-size: 17px;
  }

  .packets .container {
    max-width: 90%;
  }

  .pac-soc,
  .pack-zvon {
    max-width: 100%;
  }

  .zakaz-headers2 {
    font-size: 19px;
  }

  .heading2 p {
    font-size: 1.3em;
  }

  .icons2 {
    max-width: 13%;
    margin-left: -19%;
  }

  .pack-page {
    max-width: 86%;
    margin-left: 6%;
  }

  .pack-page .middle {
    width: 702px;
    height: 463.7px;
    top: 42.2%;
  }

  .client-attached img {
    width: 100%;
  }

  .news-1-1 {
    margin-top: 7.2% !important;
  }

  .middle2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    background: transparent;
    top: 41.5%;
    background-color: #33C7E8;
    left: 50%;
    width: 94%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 83%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    padding-top: 31%;
  }

  .rody {
    margin-left: -8%;
  }

  .pack-def {
    height: 86px;
  }

  .category-container {
    margin-top: 5.2%;
  }

  .desc ul,
  .desc p {
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
  }

  .text-img img {
    width: 100%;
    margin-top: 3%;
    /*height: 600px;*/
  }

  .img-desc {
    height: 600px;
    margin-bottom: 5%;
  }

  .nav-side-menu li {
    font-size: 1.2em;
  }

  .nav-side-menu {
    width: 355px;
  }

  .packet-type {
    margin-top: 20%;
    height: 400px;
  }

  .packet-type img {
    height: 400px;
  }

  .pack_call2 {
    font-size: 1.7rem;
  }

  .packet-name {
    margin-left: -40%;
    margin-top: 30%;
  }

  .social {
    margin-left: -2.8%;
  }

  .del-line {
    margin-left: -1%;
    width: 1010px;
  }

  .spec-type {
    margin-left: 2.7%;
  }

  .spec {
    width: 332px;
    padding: 14%;
  }

  .spec-type h2 {
    font-size: 1.4rem;
  }

  .spec-type a {
    font-size: 1.2rem;
  }

  .client-info .name {
    font-size: 1.5rem;
  }

  .client-info .main-info {
    font-size: 16px;
    display: none;
  }

  .see {
    margin-top: 10%;
    font-size: 1.2rem;
    margin-left: 38%;
  }

  .review .container .row p {
    font-weight: 200;
  }

  .otzyv-attach .inputfile+label {
    padding-left: 4.5%;
    padding-top: 0.6%;
  }

  .news {
    max-width: 80%;
  }

  .del-line2 {
    margin-left: 11%;
  }

  .news-zvon {
    margin-left: -1.5%;
  }

  .news-soc {
    margin-left: -0.8%;
    width: 80%;
  }

  .zvonok2 .zakaz-text,
  .input-zvon2,
  #zakazat2 {
    font-size: 1.15em;
  }

  .pagination a {
    height: 50px;
    margin-left: 4%;
    width: 4.5%;
    font-size: 1.1em;
    padding: 13px 21px;
  }

  .medium {
    font-size: 1.2em;
  }

  .news .row .col-sm-3 img {
    width: 100%;
  }

  .small {
    font-size: 1em;
  }

  .rody-img img {
    width: 100%;
  }

  .rody-img .slider-heading {
    top: -292px;
  }

  .forma-otzyv .txt-label {
    margin-left: 21%;
    margin-top: -4.5%;
  }

  .forma-otzyv .files .inputfile+label {
    padding-left: 3%;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .slider-header {
    width: 100%;
    left: 0;
  }

  .pack-page .image-packets {
    height: 389.7px;
  }

  .rody-img img {
    width: 100%;
  }

  .news-1-side a p {
    font-size: 18px;
  }

  .news-1 .packs-overlay .small,
  small {
    font-size: 16px;
  }

  .small,
  small {
    font-size: 16px;
  }

  .slider-cat {
    height: 455px;
  }

  .pagination {
    padding-left: 26%;
  }

  .pagination a {
    margin-left: 2%;
    width: 4.5%;
  }

  .slider-cat {
    height: 453px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .dep-name {
    margin: 5px 0 0 20px;
  }

  .department .container {
    max-width: 1310px;
  }

  .container {
    max-width: 1267px;
  }

  .middle2 {
    width: 93%;
    height: 81.5%;
    top: 40.5%;
  }

  #right {
    width: fit-content;
    left: 0;
    margin-left: 83%;
  }

  #left {
    width: fit-content;
    left: 0;
    margin-left: 13%;
  }

  .category-row {
    width: 100%;
    margin-left: 4.8%;
  }

  .packet-name {
    width: 26%;
    margin-left: -43%;
  }

  .pack-head-txt {
    margin-top: 19.2%;
  }

  .middle {
    top: 42.5%;
    height: 389.7px;
    width: 589px;
  }

  .middle3 {
    width: 93%;
    height: 74.5%;
    top: 45.5%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {
  .no-toggle a {
    padding-left: 0;
  }

  .pack-page .image-packets {
    height: 325.7px;
  }

  .rody-img img {
    width: 100%;
  }

  .news-1-side a p {
    font-size: 16px;
  }

  .small,
  small,
  .news-1 .packs-overlay .small,
  small {
    font-size: 14px;
  }

  .middle3 {
    height: 72.5%;
    top: 43.9%;
    width: 92.1%;
  }

  li.no-toggle {
    padding-left: 10%;
  }

  .forma-otzyv #makeReg {
    margin-left: 2%;
  }

  .middle2 {
    top: 39.5%;
    left: 49.9%;
    width: 91.5%;
    height: 78%;
  }

  .del-line2 {
    width: 74%;
  }

  .pack-head-txt {
    margin-top: 21.2%;
  }

  .card-text {
    font-size: 18px;
  }

  .middle {
    top: 41%;
    width: 492px;
    height: 325.7px;
  }

  .news-rows .col-sm-3 img {
    width: 100%;
  }

  .pagination a {
    padding: 7px 15px;
  }

  .slider-cat {
    height: 387px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .dep-name {
    margin: 5px 0 0 10px;
  }

  .dep-link {
    flex: 0 0 18%;
    max-width: 18%;
    margin-right: 1.5%;
  }

  .department .container {
    max-width: 1165px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1301px) and (-webkit-min-device-pixel-ratio: 1) {
  .forma-otzyv .files .inputfile+label {
    width: 18%;
    margin-top: 2.5%;
    margin-left: 30%;
    padding-left: 3.5%;
    padding-top: 1.5%;
  }

  .pack-page .image-packets {
    height: 307.7px;
  }

  .rody-img img {
    width: 100%;
  }

  .slider-heading {
    font-size: 2.3rem;
    left: 34%;
  }

  .forma-otzyv .files #label-text {
    margin-left: -32.5%;
  }

  .forma-otzyv .txt-label {
    margin-left: 23%;
    margin-top: -6%;
  }

  .heading2 p {
    font-size: 1.1rem;
  }

  .pack-head-txt {
    margin-top: 25.2%;
  }

  .rody {
    margin-left: -16%;
  }

  .middle2 {
    top: 38.5%;
    width: 90%;
    height: 77%;
  }

  .forma-otzyv #makeReg {
    margin-left: -2%;
  }

  .otzyv-attach #label-text {
    margin-left: -40.5%;
  }

  .otzyv-attach .inputfile+label {
    margin-left: 24.5%;
  }

  .pagination a {
    margin-left: 3%;
    width: 5.5%;
  }

  .pack-def2 {
    height: 54px;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 39%;
    margin-left: 30%;
  }

  .rody-img img {
    width: 100%;
    margin-top: -0.2%;
  }

  .news-zvon {
    width: 100%;
  }

  .icons2 {
    margin-left: -14%;
    max-width: 15%;
  }

  .zakaz-headers2 {
    font-size: 20px;
  }

  .zvonok2 .zakaz-text {
    font-size: 16px;
    line-height: 1.7;
  }

  .input-zvon2 {
    height: 68px;
    font-size: 16px;
  }

  #zakazat2 {
    height: 68px;
    width: 32%;
    margin-left: 3%;
    position: relative;
    top: -3px;
    font-size: 17px;
  }

  .medium {
    font-size: 16px;
  }

  .del-line2 {
    width: 75%;
  }

  .small,
  small {
    font-size: 0.9em;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
    line-height: 1.7;
  }

  .nav-side-menu {
    top: 3px;
  }

  .nav-side-menu li {
    font-size: 16px;
  }

  .no-toggle a {
    padding-left: 0;
  }

  .nav-side-menu .no-toggle {
    padding-left: 10%;
  }

  .input-zvon2 {
    height: 68px;
    font-size: 16px;
    width: 63%;
  }

  .zvonok2 #zakaz-form {
    width: 106%;
  }

  .news-soc {
    width: 100%;
    margin-left: -3.5%;
  }

  .middle {
    top: 41%;
    width: 467px;
    height: 307.7px;
  }

  .del-line {
    width: 103%;
  }

  .mob-img {
    height: 335px;
    width: 662px;
  }

  .spec-type h2 {
    font-size: 20px;
  }

  .zakaz-headers,
  .zakaz-text {
    font-size: 20px;
  }

  .input-zvon {
    width: 62%;
    height: 68px;
    font-size: 16px;
  }

  #zakazat {
    height: 68px;
    position: relative;
    font-size: 16px;
    width: 26%;
    top: -2px;
  }

  .slider-cat {
    height: 362px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .dep-name {
    margin: 5px 0 0 20px;
  }

  .department .container {
    max-width: 1015px;
  }

  .client-info .name {
    font-size: 20px;
  }

  .client-info .main-info {
    font-size: 16px;
  }

  .see a {
    font-size: 1.2rem;
    margin-left: -1%;
  }

  .zakaz-text {
    margin-top: 3%;
  }

  .spec-type a {
    font-size: 16px;
  }

  .middle3 {
    top: 43.5%;
    height: 71.5%;
    width: 91.5%;
  }

  .heading {
    flex: 0 0 34%;
    max-width: 34%;
  }

  .icons {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .news {
    max-width: 80%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-1 .packs-overlay {
    max-width: 100%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .pack-page .image-packets {
    height: 245.7px;
  }

  .news {
    max-width: 80%;
  }

  .news-zvon {
    width: 100%;
  }

  .icons2 {
    margin-left: -18%;
  }

  .news-soc {
    width: 100%;
    margin-left: -3.5%;
  }

  .text-img img {
    width: 100%;
    height: 390px;
  }

  .del-line {
    width: 520px;
  }

  .rody-img img {
    width: 100%;
    margin-top: -0.6%;
  }

  .sidebar {
    margin-left: 2%;
  }

  .mob-img {
    width: 540px;
  }

  .del-line2 {
    width: 74%;
  }

  .nav-side-menu li a {
    padding-left: 0;
  }

  .see {
    margin-left: 50%;
  }

  li.no-toggle {
    padding-left: 10%;
  }

  .packs-overlay {
    max-width: 80%;
    margin-left: -1%;
  }

  .middle3 {
    top: 39.8%;
    width: 87%;
    height: 66%;
    left: 50.5%;
  }

  .forma-otzyv .files .inputfile+label {
    width: 18%;
    margin-top: 2.5%;
    margin-left: 34%;
    padding-left: 2.3%;
    padding-top: 1.4%;
  }

  .forma-otzyv .files #label-text {
    margin-left: -32.5%;
  }

  .forma-otzyv .txt-label {
    margin-left: 26%;
    margin-top: -9%;
  }

  .card-text {
    height: 61px;
    margin-top: -0.27%;
  }

  .rody .card-text,
  .pack-1 .card-text {
    height: 51px;
  }

  .category-row {
    margin-top: -9%;
  }

  .slider-heading {
    top: -185px;
    font-size: 2.3rem;
  }

  .otzyv-attach #label-text {
    margin-left: -45.5%;
  }

  .otzyv-attach .inputfile+label {
    margin-left: 29.5%;
    padding-left: 2%;
  }

  .social {
    width: 100%;
  }

  .client-info {
    margin-left: -2%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 50%;
    margin-left: 23%;
  }

  .icons2 {
    max-width: 18%;
    margin-left: -15%;
  }

  .pagination a {
    margin-left: 2%;
    width: 7%;
  }

  .big-img {
    margin-top: -7.1%;
    width: 100%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .text-img .del-line {
    margin-left: -3%;
    width: 107%;
    height: 1px;
  }

  .pack-rody img {
    height: auto;
  }

  .news-1 .packs-overlay {
    max-width: 100%;
  }

  .news-1-side p {
    font-size: 0.9em;
  }

  .news-1-side .small {
    font-size: 0.8em;
  }

  .heading2 p {
    font-size: 1rem;
  }

  .packet-name {
    margin-left: -65%;
    margin-top: 37%;
  }

  .icons {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .heading {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .rody {
    min-height: 39rem;
  }

  .rody .container {
    max-width: 960px;
  }

  .middle2 {
    top: 37.5%;
    width: 89%;
    height: 75%;
  }

  .slider-cat {
    height: 290px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .department .slick-dots {
    bottom: -24px;
  }

  .category-container {
    margin-top: 200px;
  }

  #right,
  #left {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 42%;
    margin-left: 27%;
  }

  .client-attached img {
    width: 100%;
  }

  .pack-page {
    margin-left: 10%;
  }

  .pack-page .container {
    max-width: 90%;
  }

  .middle {
    width: 372.7px;
    height: 245.7px;
    top: 40%;
  }

  .cont {
    width: 31%;
  }

  .pack-page .pack-head-txt {
    margin-top: 30.2%;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) and (-webkit-min-device-pixel-ratio: 1) {
  .mob-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .department+.sliderMobile .kind {
    display: none;
  }

  .department+.sliderMobile {
    margin: 55px 0 0;
  }

  .pack-page .image-packets {
    height: 184.7px;
  }

  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .news-1 {
    padding-top: 25.65px;
  }

  .text-img .del-line {
    width: 381px;
    height: 1px;
  }

  .pack-rody .image-packets {
    height: auto;
  }

  /* .big-img{
            height: 83%;
        }*/
  .contain {
    width: 100%;
  }

  .category-row {
    margin-left: 11.8%;
    width: 89%;
  }

  .slider-cat {
    height: 217px;
  }

  .big-img {
    margin-top: 0;
    position: absolute;
    top: 0;
  }

  .department {
    display: none;
  }

  .category-container {
    margin-top: 13.2%;
  }

  #right,
  #left {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .text-img img {
    width: 100%;
    height: 300px;
  }

  .no-toggle a {
    padding-left: 0;
  }

  .nav-side-menu .no-toggle {
    padding-left: 13%;
  }

  .slider-header {
    font-size: 2em;
    width: 47%;
    top: -255px;
    left: 29%;
  }

  .packet-type img {
    width: 90%;
    height: 90%;
  }

  .client-attached img {
    width: 100%;
  }

  .otzyv-attach .inputfile+label {
    padding-left: 1%;
    width: 22%;
    margin-left: 40%;
    padding-top: 0.8%;
  }

  .otzyv-attach #label-text {
    margin-left: -59.5%;
  }

  .heading {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .client-info {
    margin-left: 5%;
  }

  #zakazat {
    width: 35%;
    margin-left: -2%;
    font-size: smaller;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .see a {
    font-size: 0.9em;
    margin-left: 3%;
  }

  .input-zvon {
    width: 61%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: smaller;
  }

  .show .navbar-nav {
    width: 101.4%;
    margin-left: -9%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FAFAFA;
  }

  .see {
    margin-left: 26%;
  }

  .icons {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .packet-name {
    margin-left: -67%;
    font-size: 2em;
    margin-top: 33%;
  }

  .spec-type {
    width: 110%;
    margin-left: -4.1%;
  }

  .pack-def {
    height: 51px;
  }

  .zakaz-headers,
  .zakaz-text {
    font-size: 15px;
  }

  .middle {
    top: 39.5%;
    width: 277.5px;
    left: 52.6%;
    height: 184.7px;
  }

  .cont {
    width: 36%;
    margin-left: 33%;
  }

  .spec-type a {
    font-size: 0.85rem;
  }

  .spec-type h2 {
    font-size: 1rem;
  }

  .pac-soc,
  .pack-zvon {
    width: 100%;
  }

  .icons2 {
    flex: 0 0 20%;
    max-width: 20%;
    margin-left: -7%;
    margin-top: -1%;
  }

  .rody-img img {
    width: 100%;
    height: 300px;
    margin-top: -0.1%;
  }

  .slider-heading {
    top: -200px;
  }

  .category-container {
    margin-top: 50px;
  }

  .rody {
    margin-left: -21%;
    min-height: 28rem;
    padding-top: 5%;
  }

  .pack-def2 {
    height: 37px;
  }

  .middle2 {
    top: 36.9%;
    left: 54.9%;
    width: 91%;
    height: 74%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 67%;
    margin-left: 16%;
  }

  .pack-1 {
    max-width: 100%;
  }

  .middle3 {
    top: 41.7%;
    left: 54%;
    width: 93%;
    height: 69.5%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 56%;
    margin-left: 22%;
    height: auto;
  }

  .news {
    max-width: 80%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-zvon,
  .news-soc {
    width: 99%;
  }

  .news-zvon {
    margin-left: 0.2%;
  }

  .news-soc {
    margin-left: -2.7%;
  }

  .del-line2 {
    margin-left: 12.5%;
  }

  .zvonok2 {
    padding: 7%;
    width: 79.5%;
  }

  #zakazat2 {
    font-size: 0.8em;
  }

  .pagination {
    padding-left: 14%;
    padding-top: 10%;
    margin-bottom: 10%;
  }

  .pagination a {
    margin-left: 3%;
    width: 8%;
  }

  .news-1 .packs-overlay h1 {
    font-size: 2rem;
    width: 109%;
  }

  .packs-overlay p {
    width: 100%;
  }

  .collapse.show,
  .nav-side-menu ul .collapsing {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 29px;
  }

  .sidebar {
    background-color: #FAFAFA;
    flex: 0 0 38%;
    max-width: 38%;
    position: relative;
    left: 1.7%;
    padding-top: 9%;
    margin-top: -10.5%;
    height: 1500px;
  }

  .icons .row .col-sm-3,
  .icons .row .col-sm-3 img {
    width: 25px;
    height: 25px;
    margin-left: -4%;
  }

  .desc {
    margin-top: 0;
    margin-left: -4.5%;
  }

  .forma-otzyv .row .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .review .container .row h2 {
    font-size: 1.5rem;
  }

  .review .container .row p {
    width: 100%;
    font-size: 0.8em;
  }

  #left {
    left: 5%;
  }

  .forma-otzyv .txt-label {
    margin-top: -24%;
    width: 72%;
    margin-left: 3%;
  }

  .txt-label #label-text {
    margin-left: 4px;
    /* margin-top: -2%; */
    font-weight: 100;
    font-size: 0.9em;
  }

  .review .forma-otzyv .files .inputfile+label {
    padding-left: 6.5%;
    width: 47%;
    height: 35px;
    margin-left: 67%;
    padding-top: 3.3%;
    font-weight: 100;
    font-size: 0.9em;
    background-color: #EDEDED;
    border: none;
  }

  .client-info .name {
    font-size: 1rem;
  }

  .review .forma-otzyv .files #makeReg {
    margin-left: 25%;
    margin-top: -3%;
    width: 164px;
    border-radius: 2px;
  }

  .base-info {
    width: 104%;
  }

  .review .forma-otzyv .files {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .second {
    margin-left: 0%;
    margin-top: 6%;
  }

  #right {
    /*top: -50%;*/
    left: 88%;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
    line-height: 1.9;
  }

  .nav-side-menu .menu-list .menu-content {
    display: block;
    font-size: 0.8em;
    background-color: #FAFAFA;
  }

  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #FAFAFA;
  }

  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover,
  .nav-side-menu li:hover {
    background-color: #FAFAFA;
  }

  .spec {
    background-color: #FFFFFF;
  }

  .speech-bubble {
    margin-top: 3%;
  }

  .news-menu {
    box-shadow: 0 -26px 108px -9px #757575;
    border-bottom: none;
  }

  .zvonok2 .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .news .row .col-sm-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .heading2 p {
    font-size: 0.9em;
  }

  .zakaz-headers2 {
    font-size: 15px;
  }

  .zvonok2 .zakaz-text,
  .input-zvon2 {
    font-size: 13px;
    line-height: 1.9;
  }

  .news-heading {
    margin-top: 13%;
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .medium {
    font-size: 83%;
  }

  .news-1-1 .packets {
    margin-top: 14%;
    margin-left: 0%;
  }

  .news-1-side {
    flex: 0 0 30%;
    max-width: 30%;
    padding-top: 1%;
    background-color: #fff;
    margin-top: 0%;
    left: -1.3%;
  }

  .news-1 .packs-overlay {
    max-width: 100%;
  }

  .pack1 {
    margin-top: -18%;
  }

  .pack-side {
    padding-top: 7%;
    margin-top: -26.7%;
  }

  .pack_call2 {
    font-size: 1.2rem;
  }

  .del-line {
    margin-left: 0;
    width: 370px;
    height: 1px;
    margin-left: -14px;
  }

  .pack-head-txt {
    margin-top: 0;
  }

  .pack-rody .card-text {
    height: 42px;
  }
}

@media screen and (min-width: 410px) and (max-width: 599px) and (-webkit-min-device-pixel-ratio: 1) {

  .sidebar,
  #left,
  #right,
  .big-img,
  .hide-info {
    display: none;
  }

  .pack1 {
    overflow: scroll;
  }

  .pack-page .image-packets {
    height: 222.7px;
  }

  .department+.sliderMobile .kind {
    display: none;
  }

  .department+.sliderMobile {
    margin: 55px 0 0;
  }

  .department+.sliderMobile .slick-dots {
    bottom: -14px;
  }

  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .news-1 .packs-overlay h1 {
    font-size: 2.2rem;
    margin-top: 10%;
  }

  .under-photo {
    display: none;
  }

  .text-img img {
    width: 100%;
    height: 300px;
    margin-bottom: 12%;
  }

  .pack-page .row {
    width: 100%;
    padding-left: 1%;
    margin: 0;
  }

  .slider-cat {
    height: 300px;
  }

  .slider-cat .slick-track {
    height: 300px;
  }

  .mob-img {
    display: block;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    object-fit: cover;
  }

  #left,
  #right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  #left {
    left: 5%;
  }

  #right {
    right: 10%;
    left: unset;
  }

  .department {
    display: none;
  }

  .slider-header {
    font-size: 1.7em;
    line-height: 1.7;
    font-weight: 300;
    top: -201px;
    left: 33%;
  }

  .desc {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
  }

  .category-row {
    width: 100%;
    margin-left: 0.8%;
  }

  .heading,
  .icons {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .heading {
    margin-top: 10%;
    margin-left: 22%;
  }

  .icons {
    margin-top: 10%;
    margin-left: 14%;
  }

  .del-line {
    display: none;
  }

  .zvonok {
    margin-top: 30%;
  }

  .zvonok .zakaz-headers,
  .zvonok .zakaz-text {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok .zakaz-headers {
    margin-top: 11%;
  }

  #zakaz-form .zakaz-headers {
    margin-top: 23%;
  }

  .icons .col-sm-3 {
    max-width: 21%;
  }

  .text-img {
    margin-top: 8%;
  }

  #zakazat,
  .input-zvon {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  #zakazat {
    margin-bottom: 20%;
  }

  .client-info {
    padding-left: 25%;
  }

  .client-info .main-info {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: -3%;
  }

  .speech-bubble {
    width: 95%;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
  }

  .client-otzyv top {
    font-size: 13px;
    line-height: 1.8;
  }

  .client-attached .col-sm-4 {
    max-width: 50%;
  }

  .client-attached img {
    width: 100%;
  }

  .see {
    margin-left: 22%;
  }

  .review .container .row h2 {
    font-size: 1.5rem;
    margin-left: 16%;
    margin-top: 10%;
  }

  .review .container .row p {
    margin-top: 3%;
    text-align: center;
    margin-left: -3%;
    width: 150%;
    margin-bottom: 7%;
  }

  .base-info {
    border-radius: 3px;
  }

  .second {
    margin-left: 0%;
    margin-top: 8%;
  }

  .otzyv-attach textarea {
    width: 96%;
    margin-top: -1%;
  }

  .forma-otzyv .files .inputfile+label {
    width: 30%;
    padding-left: 5%;
    padding-top: 1.8%;
    margin-top: 7.8%;
    margin-left: 49%;
  }

  .forma-otzyv {
    margin-left: 3%;
    width: 100%;
  }

  .forma-otzyv .txt-label {
    margin-left: 43%;
    margin-top: -11%;
    font-weight: 100;
  }

  .txt-label #label-text {
    font-size: 16px;
  }

  .forma-otzyv #makeReg {
    width: 101%;
    margin-top: 24%;
    margin-bottom: 36%;
  }

  .collapse.show,
  .nav-side-menu ul .collapsing {
    z-index: 1;
    margin-left: -10%;
    width: 117.3%;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: -19%;
    height: auto !important;
  }

  .navbar .collapse.show,
  .nav-side-menu ul .collapsing {
    margin-top: -1%;
    width: 114.3%;
  }

  .nav-mob-blocks1 {
    width: 100.5%;
    margin-top: -12%;
    margin-left: 5%;
  }

  .nav-mob-blocks1 li {
    width: 113%;
    margin-left: -13%;
  }

  .nav-mob-blocks1 .collapse.show,
  .nav-mob-blocks1 .collapsing {
    margin-top: -7%;
  }

  .navbar-collapse .collapsing,
  .navbar-collapse .collapse .show,
  .navbar-collapse .collapse,
  .collapse,
  collapsing,
  .collaps .show {
    transition: 0.1s;
  }

  .footer-blocks1 .collapse.show,
  .footer-blocks1 .collapsing {
    margin-top: 8%;
    margin-bottom: -9%;
  }

  .pagination {
    padding-left: 3%;
    margin-bottom: 10%;
  }

  .pagination a {
    font-size: 0.8em;
    padding: 7px 13px;
    margin-left: 3%;
    width: 9%;
  }

  .news-heading {
    margin-top: 20%;
    font-size: 1.9em;
    text-align: center;
  }

  .news .col-sm-3 {
    padding: 0 10%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-rows {
    padding-top: 10%;
  }

  .medium {
    width: 93%;
    font-size: 16px;
  }

  .small,
  small {
    font-size: 15px;
  }

  .news-soc .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .icons2 {
    margin-top: 10%;
    padding-left: 44%;
  }

  .icons2 .col-sm-3 {
    max-width: 25%;
  }

  .heading2 {
    margin-top: 10%;
  }

  .heading2 p {
    font-size: 14px;
    font-weight: 300;
  }

  .zvonok2 {
    margin-top: 30%;
    padding: 10%;
    width: 86%;
    padding-bottom: 25%;
  }

  .zakaz-headers2 {
    margin-top: 11%;
  }

  .zvonok2 .zakaz-text,
  .zakaz-headers2 {
    font-size: 0.9em;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok2 .zakaz-text {
    color: #757575;
    line-height: 1.9;
  }

  .input-zvon2,
  #zakazat2 {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  .middle {
    width: 100%;
    height: 222.7px;
    top: 40%;
  }

  .pack-def {
    height: 56px;
  }

  .pac-soc .icons2 {
    padding-left: 46%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont {
    width: 30%;
    margin-left: 33%;
  }

  .rody-img img {
    width: 100%;
  }

  .rody-img,
  .rody-img img {
    height: 268px;
    margin-bottom: 8%;
  }

  .pack-rody img {
    height: auto;
    margin-bottom: 0%;
  }

  .rody-img .slider-heading {
    top: -208px;
  }

  .pack-item {
    padding: 0;
  }

  .slider-heading {
    top: -259px;
    left: 33%;
    font-size: 2.2rem;
  }

  .rody {
    margin-left: 0;
  }

  .rody .packs-overlay {
    padding: 0;
  }

  .rody .packs-overlay .row {
    width: 100%;
    margin: 0;
  }

  .rody .pack-item {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .pack_call {
    font-size: 1.4rem;
    margin-left: 8%;
  }

  .pack-def2 {
    height: 52px;
  }

  .middle2 {
    top: 40.5%;
    height: 81.5%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 32%;
    margin-left: 31%;
  }

  .middle3 {
    top: 44.8%;
    height: 73.5%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 30%;
    margin-left: 34%;
  }
}

@media screen and (min-width: 370px) and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1) {

  .sidebar,
  #left,
  #right,
  .big-img,
  .hide-info {
    display: none;
  }

  .text-img img {
    width: 100%;
    height: 300px;
    margin-bottom: 12%;
  }

  .pack1 {
    overflow: scroll;
  }

  .department+.sliderMobile .kind {
    display: none;
  }

  .department+.sliderMobile {
    margin: 55px 0 0;
  }

  .department+.sliderMobile .slick-dots {
    bottom: -14px;
  }

  .pack-page .image-packets {
    height: 194.7px;
  }

  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .news-1 .packs-overlay h1 {
    font-size: 2.2rem;
    margin-top: 10%;
  }

  .under-photo {
    display: none;
  }

  .slider-cat {
    height: 300px;
  }

  .slider-cat .slick-track {
    height: 300px;
  }

  .pack-page .row {
    margin: 0;
  }

  .mob-img {
    display: block;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    object-fit: cover;
  }

  #left,
  #right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  #left {
    left: 5%;
  }

  #right {
    right: 11%;
    left: unset;
  }

  .department {
    display: none;
  }

  .slider-header {
    font-size: 1.7em;
    line-height: 1.7;
    font-weight: 300;
    top: -201px;
    left: 33%;
  }

  .rody {
    margin-left: 0;
  }

  .rody .packs-overlay {
    padding: 0;
  }

  .rody .packs-overlay .row {
    width: 100%;
    margin: 0;
  }

  .rody .pack-item {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .desc {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
  }

  .category-row {
    width: 100%;
    margin-left: 0.8%;
  }

  .heading,
  .icons {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .heading {
    margin-top: 10%;
    margin-left: 19%;
  }

  .icons {
    margin-top: 10%;
    margin-left: 14%;
  }

  .del-line {
    display: none;
  }

  .zvonok {
    margin-top: 30%;
  }

  .zvonok .zakaz-headers,
  .zvonok .zakaz-text {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok .zakaz-headers {
    margin-top: 11%;
  }

  #zakaz-form .zakaz-headers {
    margin-top: 23%;
  }

  .icons .col-sm-3 {
    max-width: 21%;
  }

  .text-img {
    margin-top: 8%;
  }

  #zakazat,
  .input-zvon {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  #zakazat {
    margin-bottom: 20%;
  }

  .client-info {
    padding-left: 25%;
  }

  .client-info .main-info {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: -3%;
  }

  .speech-bubble {
    width: 95%;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
  }

  .client-otzyv top {
    font-size: 13px;
    line-height: 1.8;
  }

  .client-attached .col-sm-4 {
    max-width: 50%;
  }

  .client-attached img {
    width: 100%;
  }

  .see {
    margin-left: 20%;
  }

  .review .container .row h2 {
    font-size: 1.5rem;
    margin-left: 13%;
    margin-top: 10%;
  }

  .review .container .row p {
    margin-top: 3%;
    text-align: center;
    margin-left: -3%;
    width: 150%;
    margin-bottom: 7%;
  }

  .base-info {
    border-radius: 3px;
  }

  .second {
    margin-left: 0%;
    margin-top: 8%;
  }

  .otzyv-attach textarea {
    width: 96%;
    margin-top: -1%;
  }

  .forma-otzyv .files .inputfile+label {
    width: 30%;
    padding-left: 5%;
    padding-top: 1.8%;
    margin-top: 9.8%;
    margin-left: 56%;
  }

  .forma-otzyv {
    margin-left: 3%;
    width: 100%;
  }

  .forma-otzyv .txt-label {
    margin-left: 43%;
    margin-top: -13%;
    font-weight: 100;
  }

  .txt-label #label-text {
    font-size: 16px;
  }

  .forma-otzyv #makeReg {
    width: 101%;
    margin-top: 24%;
    margin-bottom: 36%;
  }

  .collapse.show,
  .nav-side-menu ul .collapsing {
    z-index: 1;
    margin-left: -10%;
    width: 117.3%;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-bottom: -19%;
    height: auto !important;
  }

  .navbar .collapse.show,
  .nav-side-menu ul .collapsing {
    margin-top: -1%;
    width: 114.3%;
  }

  .nav-mob-blocks1 {
    width: 100.5%;
    margin-top: -12%;
    margin-left: 5%;
  }

  .nav-mob-blocks1 li {
    width: 113%;
    margin-left: -13%;
  }

  .nav-mob-blocks1 .collapse.show,
  .nav-mob-blocks1 .collapsing {
    margin-top: -7%;
  }

  .navbar-collapse .collapsing,
  .navbar-collapse .collapse .show,
  .navbar-collapse .collapse,
  .collapse,
  collapsing,
  .collaps .show {
    transition: 0.1s;
  }

  .footer-blocks1 .collapse.show,
  .footer-blocks1 .collapsing {
    margin-top: 8%;
    margin-bottom: -9%;
  }

  .pagination {
    padding-left: 3%;
    margin-bottom: 10%;
  }

  .pagination a {
    font-size: 0.8em;
    padding: 7px 13px;
    margin-left: 2%;
    width: 10%;
  }

  .news-heading {
    margin-top: 20%;
    font-size: 1.6em;
    text-align: center;
  }

  .news .col-sm-3 {
    padding: 0 10%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-rows {
    padding-top: 10%;
  }

  .medium {
    width: 93%;
  }

  .news-soc .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .icons2 {
    margin-top: 10%;
    padding-left: 44%;
  }

  .icons2 .col-sm-3 {
    max-width: 25%;
  }

  .heading2 {
    margin-top: 10%;
  }

  .heading2 p {
    font-size: 14px;
    font-weight: 300;
  }

  .zvonok2 {
    margin-top: 30%;
    padding: 10%;
    width: 86%;
    padding-bottom: 25%;
  }

  .zakaz-headers2 {
    margin-top: 11%;
  }

  .zvonok2 .zakaz-text,
  .zakaz-headers2 {
    font-size: 0.9em;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok2 .zakaz-text {
    color: #757575;
    line-height: 1.9;
  }

  .input-zvon2,
  #zakazat2 {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  .middle {
    width: 100%;
    height: 194.7px;
    top: 39%;
  }

  .pack-def {
    height: 56px;
  }

  .pac-soc .icons2 {
    padding-left: 46%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont {
    width: 34%;
    margin-left: 33%;
  }

  .rody-img img {
    width: 100%;
  }

  .rody-img,
  .rody-img img {
    height: 268px;
    margin-bottom: 10%;
  }

  .rody-img .slider-heading {
    top: -221px;
    left: 31%;
  }

  .pack-rody img {
    height: auto;
    margin-bottom: 0;
  }

  .slider-heading {
    top: -259px;
    left: 32%;
  }

  .pack_call {
    font-size: 1.4rem;
    margin-left: 8%;
  }

  .pack-def2 {
    height: 52px;
  }

  .middle2 {
    top: 39.5%;
    height: 79%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 44%;
    margin-left: 31%;
  }

  .middle3 {
    top: 43.5%;
    height: 71.5%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 35%;
    margin-left: 34%;
  }

  .pack-item {
    padding: 0;
  }
}

@media screen and (min-width: 355px) and (max-width: 369px) and (-webkit-min-device-pixel-ratio: 1) {

  .sidebar,
  #left,
  #right,
  .big-img,
  .hide-info {
    display: none;
  }

  .pack1 {
    overflow: scroll;
  }

  .department+.sliderMobile .kind {
    display: none;
  }

  .department+.sliderMobile {
    margin: 55px 0 0;
  }

  .department+.sliderMobile .slick-dots {
    bottom: -14px;
  }

  .pack-page .image-packets {
    height: 186.7px;
  }

  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .news-1 .packs-overlay h1 {
    font-size: 2.1rem;
    margin-top: 10%;
  }

  .pack-page .row {
    margin: 0;
  }

  .text-img img {
    width: 100%;
    height: 300px;
    margin-bottom: 12%;
  }

  .rody {
    margin-left: 0;
  }

  .rody .packs-overlay {
    padding: 0;
  }

  .rody .packs-overlay .row {
    width: 100%;
    margin: 0;
  }

  .rody .pack-item {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .pack-rody img {
    height: auto;
    margin-bottom: 0;
  }

  .pack-item {
    padding: 0;
  }

  .slider-cat {
    height: 300px;
  }

  .slider-cat .slick-track {
    height: 300px;
  }

  .mob-img {
    display: block;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    object-fit: cover;
  }

  #left,
  #right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  #left {
    left: 5%;
  }

  #right {
    right: 11%;
    left: unset;
  }

  .department {
    display: none;
  }

  .under-photo {
    display: none;
  }

  .slider-header {
    font-size: 1.7em;
    line-height: 1.7;
    font-weight: 300;
    top: -201px;
    left: 33%;
  }

  .desc {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
  }

  .category-row {
    width: 100%;
    margin-left: 0.8%;
  }

  .heading,
  .icons {
    flex: 0 0 96%;
    max-width: 96%;
  }

  .heading {
    margin-top: 10%;
    margin-left: 19%;
  }

  .icons {
    margin-top: 10%;
    margin-left: 14%;
  }

  .del-line {
    display: none;
  }

  .zvonok {
    margin-top: 30%;
  }

  .zvonok .zakaz-headers,
  .zvonok .zakaz-text {
    font-size: 16px;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok .zakaz-headers {
    margin-top: 11%;
  }

  #zakaz-form .zakaz-headers {
    margin-top: 23%;
  }

  .icons .col-sm-3 {
    max-width: 21%;
  }

  .text-img {
    margin-top: 8%;
  }

  #zakazat,
  .input-zvon {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  #zakazat {
    margin-bottom: 20%;
  }

  .client-info {
    padding-left: 25%;
  }

  .client-info .main-info {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: -3%;
  }

  .speech-bubble {
    width: 95%;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
  }

  .client-otzyv top {
    font-size: 13px;
    line-height: 1.8;
  }

  .client-attached .col-sm-4 {
    max-width: 50%;
  }

  .client-attached img {
    width: 100%;
  }

  .see {
    margin-left: 20%;
  }

  .review .container .row h2 {
    font-size: 1.5rem;
    margin-left: 13%;
    margin-top: 10%;
  }

  .review .container .row p {
    margin-top: 3%;
    text-align: center;
    margin-left: -3%;
    width: 150%;
    margin-bottom: 7%;
  }

  .base-info {
    border-radius: 3px;
  }

  .second {
    margin-left: 0%;
    margin-top: 8%;
  }

  .otzyv-attach textarea {
    width: 96%;
    margin-top: -1%;
  }

  .forma-otzyv .files .inputfile+label {
    width: 30%;
    padding-left: 5%;
    padding-top: 1.8%;
    margin-top: 9.8%;
    margin-left: 56%;
  }

  .forma-otzyv {
    margin-left: 3%;
    width: 100%;
  }

  .forma-otzyv .txt-label {
    margin-left: 43%;
    margin-top: -13%;
    font-weight: 100;
  }

  .txt-label #label-text {
    font-size: 16px;
  }

  .forma-otzyv #makeReg {
    width: 101%;
    margin-top: 24%;
    margin-bottom: 36%;
  }

  .nav-mob-blocks1 {
    width: 100.5%;
    margin-top: -12%;
    margin-left: 5%;
  }

  .pagination {
    padding-left: 3%;
    margin-bottom: 10%;
  }

  .pagination a {
    font-size: 0.8em;
    padding: 7px 12px;
    margin-left: 2%;
    width: 10%;
  }

  .news-heading {
    margin-top: 20%;
    font-size: 1.6em;
    text-align: center;
  }

  .news .col-sm-3 {
    padding: 0 10%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-rows {
    padding-top: 10%;
  }

  .medium {
    width: 93%;
  }

  .news-soc .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .icons2 {
    margin-top: 10%;
    padding-left: 44%;
  }

  .icons2 .col-sm-3 {
    max-width: 25%;
  }

  .heading2 {
    margin-top: 10%;
  }

  .heading2 p {
    font-size: 14px;
    font-weight: 300;
  }

  .zvonok2 {
    margin-top: 30%;
    padding: 10%;
    width: 86%;
    padding-bottom: 25%;
  }

  .zakaz-headers2 {
    margin-top: 11%;
  }

  .zvonok2 .zakaz-text,
  .zakaz-headers2 {
    font-size: 0.9em;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok2 .zakaz-text {
    color: #757575;
    line-height: 1.9;
  }

  .input-zvon2,
  #zakazat2 {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  .middle {
    width: 100%;
    height: 186.7px;
    top: 39%;
  }

  .pack-def {
    height: 56px;
  }

  .pac-soc .icons2 {
    padding-left: 46%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont {
    width: 34%;
    margin-left: 33%;
  }

  .rody-img img {
    width: 100%;
  }

  .rody-img,
  .rody-img img {
    height: 268px;
    margin-bottom: 9%;
  }

  .rody-img .slider-heading {
    top: -214px;
    left: 31%;
  }

  .slider-heading {
    top: -259px;
    left: 32%;
  }

  .pack_call {
    font-size: 1.4rem;
    margin-left: 5%;
  }

  .pack-def2 {
    height: 52px;
  }

  .middle2 {
    top: 38.5%;
    height: 79%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 44%;
    margin-left: 31%;
  }

  .middle3 {
    top: 43%;
    height: 70.5%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 35%;
    margin-left: 34%;
  }
}

/*320*/

@media screen and (max-width: 350px) and (-webkit-min-device-pixel-ratio: 1) {

  .sidebar,
  #left,
  #right,
  .big-img,
  .hide-info {
    display: none;
  }

  .pack-page .image-packets {
    height: 182.7px;
  }

  .department+.sliderMobile .kind {
    display: none;
  }

  .pack1 {
    overflow: scroll;
  }

  .department+.sliderMobile {
    margin: 55px 0 0;
  }

  .department+.sliderMobile .slick-dots {
    bottom: -14px;
  }

  .text-img div:first-of-type {
    overflow: scroll;
  }

  .text-img div:nth-of-type(2) {
    overflow: scroll;
    margin-bottom: 50px;
  }

  .pack-page .row {
    margin: 0;
  }

  .slider-cat {
    height: 300px;
  }

  .slider-cat .slick-track {
    height: 300px;
  }

  .news-1 .packs-overlay h1 {
    font-size: 1.8rem;
    margin-top: 10%;
  }

  .under-photo {
    display: none;
  }

  .rody {
    margin-left: 0;
  }

  .rody .packs-overlay {
    padding: 0;
  }

  .rody .packs-overlay .row {
    width: 100%;
    margin: 0;
  }

  .rody .pack-item {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }

  .mob-img {
    display: block;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    object-fit: cover;
  }

  #left,
  #right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  #left {
    left: 5%;
  }

  #right {
    right: 15%;
    left: unset;
  }

  .department {
    display: none;
  }

  .text-img img {
    width: 100%;
    height: 250px;
    margin-bottom: 12%;
  }

  .pack-rody img {
    height: auto;
    margin-bottom: 0;
  }

  .pack-rody .card-text {
    height: 51px;
  }

  .slider-header {
    font-size: 1.7em;
    line-height: 1.7;
    font-weight: 300;
    top: -201px;
    left: 29%;
  }

  .desc {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .desc ul,
  .desc p {
    font-size: 16px;
  }

  .category-row {
    width: 100%;
    margin-left: 0.8%;
  }

  .heading,
  .icons {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .heading {
    margin-top: 10%;
    margin-left: 14%;
  }

  .icons {
    margin-top: 10%;
    margin-left: 9%;
  }

  .text-img .del-line {
    width: 100%;
    height: 1px;
  }

  .zvonok {
    margin-top: 30%;
  }

  .client-info .name {
    font-size: 17px;
  }

  .zvonok .zakaz-headers,
  .zvonok .zakaz-text {
    font-size: 0.9em;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok .zakaz-headers {
    margin-top: 11%;
  }

  #zakaz-form .zakaz-headers {
    margin-top: 23%;
  }

  .icons .col-sm-3 {
    max-width: 21%;
  }

  .text-img {
    margin-top: 15%;
  }

  #zakazat,
  .input-zvon {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  #zakazat {
    margin-bottom: 20%;
  }

  .client-info {
    padding-left: 25%;
  }

  .client-info .main-info {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: -3%;
  }

  .speech-bubble {
    width: 95%;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
  }

  .client-otzyv top {
    font-size: 13px;
    line-height: 1.8;
  }

  .client-attached .col-sm-4 {
    max-width: 50%;
  }

  .client-attached img {
    width: 100%;
  }

  .see {
    margin-left: 17%;
  }

  .review .container .row h2 {
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 10%;
  }

  .review .container .row p {
    margin-top: 3%;
    text-align: center;
    margin-left: -3%;
    width: 150%;
    margin-bottom: 7%;
  }

  .base-info {
    border-radius: 3px;
  }

  .second {
    margin-left: 0%;
    margin-top: 8%;
  }

  .otzyv-attach textarea {
    width: 96%;
    margin-top: -1%;
  }

  .forma-otzyv .files .inputfile+label {
    width: 31%;
    padding-left: 4%;
    padding-top: 1.8%;
    margin-top: 8.8%;
    margin-left: 56%;
  }

  .forma-otzyv {
    margin-left: 3%;
    width: 100%;
  }

  .forma-otzyv .txt-label {
    margin-left: 45%;
    margin-top: -17%;
    font-weight: 100;
  }

  .txt-label #label-text {
    font-size: 0.9em;
  }

  .forma-otzyv #makeReg {
    width: 101%;
    margin-top: 24%;
    margin-bottom: 36%;
  }

  .nav-mob-blocks1 {
    width: 101%;
    margin-top: -12%;
    margin-left: 4%;
  }

  .nav-mob-blocks1 li {
    width: 115%;
    margin-left: -15%;
  }

  .pagination {
    padding-left: 3%;
    margin-bottom: 10%;
  }

  .pagination a {
    font-size: 0.3em;
    padding: 7px 11px;
    margin-left: 3%;
    width: 9%;
  }

  .news-heading {
    margin-top: 20%;
    font-size: 1.6em;
    text-align: center;
  }

  .news .col-sm-3 {
    padding: 0 10%;
  }

  .news .col-sm-3 img {
    width: 100%;
  }

  .news-rows {
    padding-top: 10%;
    width: 100%;
    margin: 0;
  }

  .medium {
    width: 93%;
  }

  .news-soc .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .icons2 {
    margin-top: 10%;
    padding-left: 44%;
  }

  .icons2 .col-sm-3 {
    max-width: 25%;
  }

  .heading2 {
    margin-top: 10%;
  }

  .heading2 p {
    font-size: 14px;
    font-weight: 300;
  }

  .zvonok2 {
    margin-top: 30%;
    padding: 10%;
    width: 86%;
    padding-bottom: 25%;
  }

  .zakaz-headers2 {
    margin-top: 11%;
  }

  .zvonok2 .zakaz-text,
  .zakaz-headers2 {
    font-size: 0.9em;
    text-align: center;
    margin-left: 5%;
  }

  .zvonok2 .zakaz-text {
    color: #757575;
    line-height: 1.9;
  }

  .input-zvon2,
  #zakazat2 {
    width: 100%;
    margin-left: 0;
    margin-top: 6%;
    font-size: 0.9em;
    text-align: center;
  }

  .middle {
    width: 100%;
    height: 182.7px;
    top: 39%;
  }

  .pack-def {
    height: 56px;
  }

  .pac-soc .icons2 {
    padding-left: 46%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .cont {
    width: 34%;
    margin-left: 33%;
  }

  .rody-img img {
    width: 100%;
  }

  .rody-img,
  .rody-img img {
    height: 268px;
    margin-bottom: 6%;
  }

  .slider-heading {
    top: -241px;
    left: 31%;
    font-size: 2.1rem;
  }

  .rody-img .slider-heading {
    top: -195px;
  }

  .pack_call {
    font-size: 1.4rem;
    margin-left: -5px;
    text-align: center;
  }

  .pack-def2 {
    height: 52px;
  }

  .middle2 {
    top: 37.5%;
    height: 75%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle2 .cont {
    width: 42%;
    margin-left: 29%;
    padding-top: 33%;
  }

  .del-line {
    width: 250px;
    height: 1px;
  }

  .middle3 {
    top: 43.5%;
    height: 71.5%;
    left: 50%;
    width: 100%;
  }

  .packs-overlay .pack-item .middle3 .cont {
    width: 35%;
    margin-left: 34%;
  }

  .news {
    margin: 0;
    padding: 0;
  }

  .pack-item {
    padding: 0;
  }
}
