.price
    max-width: 1360px
    width: 100%
    margin: 0 auto 
    margin-bottom: 75px
    &__txt-wrp
        padding-left: 50px 
        p
            line-height: 1.2
            max-width: 290px
            color: #818181
            font-size: 18px
    &__inner
        display: flex
        margin-top: 35px
    &__nav-wrp
        width: 26%
    &__content  
        width: 74%
        padding-left: 100px
    &__tab
        max-width: 850px
        display: none 
        &:first-child
            display: block
    &__row 
        display: flex
        justify-content: space-between
        margin-bottom: 25px
    &__heading
        color: #818181
        font-size: 18px
    &__service, &__procedure, &__cost
        font-size: 18px
    &__col
        width: 50%
        &:nth-child(2), &:nth-child(3) 
            width: 25%
    &__list
        background-color: #3E9199
        padding: 15px 0
        margin-bottom: 0
        height: 715px
        overflow: hidden
        &--open 
            height: auto
    &__item
        padding: 15px 0
        padding-left: 50px
        color: white
        font-size: 18px
        transition: all 0.6s ease
        cursor: pointer
        &--current
            background-color: #3E7379
        &:hover
            background-color: #3E7379
    &__more
        padding: 15px 0
        background-color: #3E7379
        text-align: center
        color: white
        font-size: 16px
        cursor: pointer
    &__search-wrp
        background-color: #3E7379
        position: relative
    &__srch
        background-color: transparent
        width: 100%
        height: 100%
        border: none
        padding: 15px 0
        padding-left: 50px
        color: white
        &::placeholder
            color: rgba(#fff, 0.5)
    &__srch-icon
        position: absolute
        right: 30px
        top: 50%
        transform: translate(0, -50%)
        cursor: pointer
        width: 25px
        height: 25px
        background-color: transparent
        padding: 0
        border: none
@media screen and (max-width: 1367px)
    .price
        max-width: 1135px
        &__item, 
        &__srch, 
        &__more,
        &__heading,
        &__service,
        &__procedure,
        &__cost
            font-size: 14px
        &__list
            height: 615px
        &__txt-wrp p
            font-size: 16px    
        &__srch-icon    
            right: 15px